@media all {
	.panels-flexible-region-cihr_home_v3-president, .panels-flexible-region-cihr_home_v3-feature, .panels-flexible-region-cihr_home_v3-service_requests, .panels-flexible-region-cihr_home_v3-events, .panels-flexible-region-cihr_home_v3-poll {
		width: 100%;
	}
}
@media screen and (min-device-width: 1024px) and (min-width: 960px) {
	#wb-core-in, #gcwu-bc-in {
		background: none;
	}
	.panels-flexible-region-cihr_home-pipeline, .panels-flexible-region-cihr_home-requests, .panels-flexible-region-cihr_home-events, .panels-flexible-region-cihr_home-poll {
		width: 25%;
		min-height: 250px;
	}
	.panels-flexible-region-cihr_home-feature {
		width: 50%;
		min-height: 253px;
	}
	.panels-flexible-row-cihr_home-main-row {
		margin-top: 12px !important;
	}
	.frontpage-main {
		position: relative;
		left: 25%;
		width: 50%;
	}
	.frontpage-main > div {
		padding-left: 0.5em !important;
	}
	.frontpage-col1 {
		position: relative;
		left: -50%;
	}
	.frontpage-col1, .frontpage-col2 {
		width: 25%;
	}
	.frontpage-col1 > div {
		padding-left: 0 !important;
	}
	#cihr-home .panels-flexible-row-inside-first {
		margin-bottom: 12px;
	}
	#cihr-home {
		padding-top: 32px;
	}
	.wet-boew-tabbedinterface .tabs{
		line-height: 20px;
	}
	.wet-boew-tabbedinterface .tabs a  {
		line-height: 16px;
	}
	*[id|="wb-main"] {
		width: 880px !important;
	}
	#wb-main-in {
		padding-left: 15px;
	}
	h1#wb-cont {
		margin-top: 0;
	}
	#wb-core-in {
		padding: 0 10px;
	}
	.more-footer {
		margin: 0 10px;
	}
	#gcwu-srchbx #gcwu-srch {
		height: 27px;
	}
}
@media screen and (max-width: 959px) {
	#wb-core-in, #gcwu-bc-in {
		background: none;
	}
	.frontpage-main {
		width: 100%;
	}
	.frontpage-main > div {
		padding-right: 0 !important;
	}
	.frontpage-col1 > div {
		padding-left: 0 !important;
	}
	.frontpage-col1, .frontpage-col2 {
		width: 50%;
	}
	.panels-flexible-region-cihr_home_v3-external_news {
		float: left;
		clear: left;
		width: 100%;
	}
	.panels-flexible-region-cihr_home_v3-external_news .nav-links li {
		clear: none;
		display: inline-block;
		margin-right: 1.5em;
	}
	.nav-links li a {
		padding: 0.38em 0.5em 0.22em 0.5em;
		margin: 0.5em 0;
	}
}
@media screen and (min-width: 960px) and (max-width: 1200px) {
	#home-requests .home-tasks li:last-child a {
		padding-left: 4px;
	}
	.nav-links li a {
		padding: 5px 5px 4px 5px;
		margin: 0.5em 0;
	}
	#home-event .nav-links {
		margin-right: 10%;
	}
	#home-president h2 span {
		margin-right: -0.5em;
	}
	#home-external .pane-content {
		padding: 0 10px 0 0;
	}
}
@media screen and (min-width: 960px) {
	#home-requests .home-tasks li:last-child a {
		padding-left: 26px;
	}
	.nav-links li a {
		padding: 5px 5px 4px 10px;
		margin: 0.5em 0.55em 0.5em 0.2em;
	}
	#home-event .nav-links {
		margin-right: 10%;
		margin-left: 1em;
	}
}
@media screen and (min-width: 1200px) {
	#home-event .nav-links {
		margin-right: 30%;
		margin-left: 1em;
	}
}
@media screen {
	.mb-menu {
		border-left: 1px solid #ccc !important;
	}
	h2.pane-title:not(.ui-title), .pane-content h2 {
		text-transform: uppercase;
		font-weight: 500 !important;
		font-size: 22px;
	}

	#home-poll, #home-requests, #home-event, .frontpage-news-wrapper {
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50px, #F1F2EF), color-stop(250px, #FFFFFF));
		background-image: -o-linear-gradient(bottom, #F1F2EF 50px, #FFFFFF 250px);
		background-image: -moz-linear-gradient(bottom, #F1F2EF 50px, #FFFFFF 250px);
		background-image: -webkit-linear-gradient(bottom, #F1F2EF 50px, #FFFFFF 250px);
		background-image: -ms-linear-gradient(bottom, #F1F2EF 50px, #FFFFFF 250px);
		background-image: linear-gradient(to bottom, #F1F2EF 50px, #FFFFFF 250px);
	}

	.panels-flexible-region-cihr_home-center-inside {
		padding-left: 0 !important;
		padding-right: 0 !important;
		margin: 0 0.5em;
	}

	#home-requests h2, #home-event h2 {
		color: #777 !important;
		padding-top: 17px;
		margin: 0 0 12px 0;
		line-height: 30px;
		font-size: 20px;
	}
	#home-event h2:before, #home-requests h2:before {
		content: "";
		width: 10px;
		height: 0;
		border-top: 29px solid #81c34b;
		border-right: 7px solid transparent;
		display: block;
		float: left;
		padding-left: 8px;
		margin-right: 10px;
	}
	#home-event h2 {
		font-size: 18px;
		color: #469902 !important;
	}
	#home-news h2, #home-poll h2 {
		width: 100%;
		margin: 0;
		position: relative;
		left: -2px;
		display: block;
		font-size: 20px;
	}
	#home-news h2 span, #home-poll h2 span {
		display: inline-block;
		color: #fff;
		min-width: 118px;
		padding: 0 0.5em 0 18px;
		position: relative;
	}
	#home-news h2 span {
		background: #02a29e;
	}
	#home-poll h2 span {
		background: #62ac26;
	}
	#home-news h2 span:after, #home-poll h2 span:after {
		position: absolute;
		content: '';
		height: 99%;
		width: 20px;
		transform: skewX(-11.5deg);
		-webkit-transform: skewX(-11.5deg);
		-moz-transform: skewX(-11.5deg);
		-o-transform: skewX(-11.5deg);
		top: 0;
		right: -0.5em;
	}
	#home-news h2 span:after {
		background: #02a29e;
	}
	#home-poll h2 span:after {
		background: #62ac26;
	}

	#home-president .home-tasks, #home-requests .home-tasks {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.home-tasks li {
		margin: 0 4px;
		border-bottom: 1px dashed #dedede;
	}
	.home-tasks li a {
		display: inline-block;
		width: 100%;
		height: 100%;
		padding-top: 8px;
		margin-bottom: -12px;
	}
	.home-tasks li a:before {
		content: "";
		background: url('../images/icons.png');
		background-repeat: no-repeat;
		background-image: url('../images/icons.svg'), none;
		height: 44px;
		width: 42px;
		float: left;
		position: relative;
		top: -12px;
		margin: 0 9px 0 20px;
	}

	#home-requests .home-tasks li {
		font-size: 18px;
		padding-top: 2px;
		line-height: 20px;
	}
	#home-requests .home-tasks li a:before {
		margin-right: 12px;
	}

	#home-president h2 {
		background-image: url('../images/president.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0, #d1f6f6), color-stop(1, #FFFFFF));
		background-image: url('../images/president.png'), -o-linear-gradient(bottom, #d1f6f6 0%, #FFFFFF 100%);
		background-image: url('../images/president.png'), -moz-linear-gradient(bottom, #d1f6f6 0%, #FFFFFF 100%);
		background-image: url('../images/president.png'), -webkit-linear-gradient(bottom, #d1f6f6 0%, #FFFFFF 100%);
		background-image: url('../images/president.png'), -ms-linear-gradient(bottom, #d1f6f6 0%, #FFFFFF 100%);
		background-image: url('../images/president.png'), linear-gradient(to bottom, #d1f6f6 0%, #FFFFFF 100%);
		background-position: bottom center, top left;
		background-repeat: no-repeat, no-repeat;
		height: 160px;
		text-transform: uppercase;
		color: #469902;
		font-size: 21px;
		line-height: 1.2em;
		font-weight: 500;
		text-align: right;
		padding: 40px 5px 0 0;
		margin: 0 0 8px 0;
	}
	#home-president h2 span {
		display: inline-block;
		text-align: left;
		width: 7em;
	}
	#home-president .home-tasks a {
		font-size: 15px;
		line-height: 1.4em;
	}
	#home-president #president-ask a {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	#home-president #president-ask a:before {
		top: -10px;
		background-size: 75px;
		background-position: -15px -295px;
		width: 50px;
		height: 50px;
		margin: 0 8px 0 13px;
	}
	#home-president #president-view a:before {
		background-position: -13px -118px;
		background-size: 60px;
	}
	#president-view {
		padding-bottom: 2px;
	}
	#home-requests li a:before {
		margin-left: 15px;
	}
	#home-requests #requests-translation a:before {
		background-position: -12px -72px;
	}
	#home-requests #requests-web a:before {
		background-position: -12px -194px;
	}
	#home-requests #requests-data a:before {
		background-position: -12px -318px;
	}
	#home-requests #requests-admin a:before {
		background-position: -12px -10px;
	}
	#home-requests .home-tasks li:last-child a {
		padding-bottom: 8px;
		margin-bottom: 0;
		font-size: 14px;
	}
	#home-requests .home-tasks li:last-child a:before {
		background: none;
		height: 0;
		width: 0;
		margin: 0;
	}
	#home-requests .home-tasks li:last-child a:after {
		content: " >";
	}

	#home-feature ul.tabs {
		margin: 0;
		padding: 1px 1px 3px;
	}
	#home-feature .tabs-content-pad {
		padding: 5px 5px 31px;
	}
	#home-feature .tabs-panel {
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d1f6f6), color-stop(1, #FFFFFF));
		background-image: -o-linear-gradient(bottom, #d1f6f6 0%, #FFFFFF 100%);
		background-image: -moz-linear-gradient(bottom, #d1f6f6 0%, #FFFFFF 100%);
		background-image: -webkit-linear-gradient(bottom, #d1f6f6 0%, #FFFFFF 100%);
		background-image: -ms-linear-gradient(bottom, #d1f6f6 0%, #FFFFFF 100%);
		background-image: linear-gradient(to bottom, #d1f6f6 0%, #FFFFFF 100%);
		color: #333;
	}
	#home-feature .tabs-panel section {
		overflow: hidden;
	}

	#home-event .views-field-title {
		float: left;
		margin: 28px 18px 0;
		font-size: 15px;
	}
	#home-event .view-empty {
		margin-top: 0;
		font-size: 15px;
		margin: 0 18px;
	}
	#home-event .views-field-field-date, #home-event .views-field-field-date-1 {
		float: right;
		width: 78px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		clear: right;
		margin-right: 22px;
	}
	#home-event .views-field-field-date {
		font-size: 16px;
		padding: 4px 0 3px;
		color: #fff;
		background: #02a29e;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		margin-top: 15px;
	}
	#home-event .views-field-field-date-1 {
		background: #fff;
		border: 1px solid #dfdfdf;
		border-width: 0 1px 1px 1px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		font-size: 32px;
		padding: 13px 0 17px;
		color: #5a5a5a;
	}
	#home-event .nav-links {
		margin-top: 16px;
		margin-bottom: 9px;
	}

	.frontpage-news-wrapper {
		margin-top: 5px !important;
	}
	.frontpage-news-wrapper h3 {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 500 !important;
		color: #469902;
	}
	.frontpage-news-wrapper h3:before {
		content: "> ";
	}
	#home-news li {
		color: #017773;
		list-style-type: square;
		font-size: 20px;
	}
	#home-news li > span {
		position: relative;
		top: -3px;
	}
	#home-news li .views-field-title {
		font-size: 15px;
	}
	#home-news li .views-field-changed {
		color: #777777;
		font-size: 12px;
	}
	#home-news .view-footer {
		font-size: 14px;
	}
	#home-news .view-footer a:after {
		content: " >";
	}
	#home-external {
		padding-top: 29px;
	}
	.frontpage-news-wrapper .pane-content {
		padding: 0 16px;
	}

	.nav-links {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.nav-links li a {
		clear: both;
		display: block;
		position: relative;
		border: solid 1px #cadfb9;
		background: #e0fcc9 linear-gradient(#e0fcc9, #ffffff);
		cursor: pointer;
		color: #000 !important;
		line-height: 21px;
		font-size: 15px;
	}
	.nav-links li a:after {
		position: absolute;
		top: 6px;
		right: -10px;
		width: 18px;
		height: 18px;
		border-left: solid 1px #cadfb9;
		border-top: solid 1px #cadfb9;
		transform: rotate(134deg) skewX(-15deg) skewY(-15deg);
		-webkit-transform: rotate(134deg) skewX(-15deg) skewY(-15deg);
		-moz-transform: rotate(134deg) skewX(-15deg) skewY(-15deg);
		-o-transform: rotate(134deg) skewX(-15deg) skewY(-15deg);
		background: #e0fcc9 linear-gradient(45deg, #e0fcc9, #ffffff);
		content: '';
	}
	.nav-links li a:link, .nav-links li a:visited {
		text-decoration: none;
		color: #000 !important;
	}
	.nav-links li a:hover {
		text-decoration: underline;
		color: #000 !important;
		background: #e0fcc9 !important;
	}
	.nav-links li a:hover:after {
		background: #e0fcc9 !important;
	}

	#home-event .nav-links {
		margin-left: 1em;
	}

	#home-poll .pane-content {
		padding: 0 16px;
	}
	#home-poll h4 {
		font-size: 15px;
		font-weight: 400 !important;
		line-height: 1.2em;
		border-bottom: none;
		margin-bottom: 20px;
	}
	#home-poll #edit-choice, #home-poll .poll-results {
		font-size: 14px;
	}
	#home-poll .links {
		margin: 0 0 0 0.5em;
	}
	#home-poll .links li {
		color: #017773;
		list-style-type: none;
		float: left;
		margin-right: 3em;
		font-size: 14px;
	}
	#home-poll .links li a:after {
		content: " >";
	}
	#main-content a, #main-content a:link, #main-content a:active, #main-content a:visited {
		text-decoration: none;
	}
	#main-content a:not(.ui-btn):link, #main-content a:not(.ui-btn):hover, #main-content a:not(.ui-btn):visited {
		color: #017773;
	}
	#main-content a:hover {
		text-decoration: underline;
	}

	#home-feature .tabs-panel .content {
		position: relative;
		width: 570px;
		height: 229px;
	}
	#home-feature .homepage-features.image-actual {
		position: absolute;
		margin: 0;
		top: 0;
		left: 0;
	}
	#home-feature .wet-boew-tabbedinterface .content .caption {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	#home-feature .tabs-panel .content .caption .field--name-field-slide-headline {
		display: none;
	}

	.cihr-landing h1 {
		border-bottom: 1px dashed #dedede;
		padding-bottom: 12px;
		color: #00847f;
		font-weight: bold;
	}
	#landing-director, #landing-contact, #landing-docs {
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50px, #F1F2EF), color-stop(250px, #FFFFFF));
		background-image: -o-linear-gradient(bottom, #F1F2EF 50px, #FFFFFF 250px);
		background-image: -moz-linear-gradient(bottom, #F1F2EF 50px, #FFFFFF 250px);
		background-image: -webkit-linear-gradient(bottom, #F1F2EF 50px, #FFFFFF 250px);
		background-image: -ms-linear-gradient(bottom, #F1F2EF 50px, #FFFFFF 250px);
		background-image: linear-gradient(to bottom, #F1F2EF 50px, #FFFFFF 250px);
	}
	#landing-director h2, #landing-contact h2, #landing-docs h2 {
		width: 100%;
		margin: 0;
		display: block;
	}
	#landing-director h2 span, #landing-contact h2 span, #landing-docs h2 span {
		display: inline-block;
		color: #fff;
		min-width: 118px;
		padding: 5px 0.5em 5px 18px;
		position: relative;
	}
	#landing-director h2 span, #landing-contact h2 span {
		background: #62ac26;
	}
	#landing-docs h2 span {
		background: #02a29e;
	}
	#landing-director h2 span:after, #landing-contact h2 span:after, #landing-docs h2 span:after {
		position: absolute;
		content: '';
		height: 100%;
		width: 20px;
		transform: skewX(-11.5deg);
		-webkit-transform: skewX(-11.5deg);
		-moz-transform: skewX(-11.5deg);
		-o-transform: skewX(-11.5deg);
		top: 0;
		right: -0.5em;
	}
	#landing-docs h2 span:after {
		background: #02a29e;
	}
	#landing-director h2 span:after, #landing-contact h2 span:after {
		background: #62ac26;
	}
	
}