.node-type-people .group-contact .fieldset-wrapper .field--name-field-address {
  background-image: url("../images/location-icon.png") !important;
  background-repeat: no-repeat;
}

.node-type-people .group-contact .fieldset-wrapper .field--name-field-language {
  background-image: url("../images/languages-icon.png") !important;
  background-repeat: no-repeat;
}

.node-type-people .group-contact .fieldset-wrapper .field--name-field-office {
  background-image: url("../images/office-icon.png") !important;
  background-repeat: no-repeat;
}

.node-type-people .group-contact .fieldset-wrapper .field--name-field-extension {
  background-image: url("../images/phone-ext-icon.png") !important;
  background-repeat: no-repeat;
}

.node-type-people .group-contact .fieldset-wrapper .field--name-field-phone-number {
  background-image: url("../images/phone-icon.png") !important;
  background-repeat: no-repeat;
}

.node-type-people .group-contact .fieldset-wrapper .field--name-field-email a {
  background-image: url("../images/mail-icon.png") !important;
  background-repeat: no-repeat;
}

.node-type-people .group-organization .fieldset-wrapper .field--name-field-organizational-chart a {
  background-image: url("../images/organization-icon.png") !important;
  background-repeat: no-repeat;
}

.node-type-people .group-organization .fieldset-wrapper .field--name-field-committee-memberships a {
  background-image: url("../images/membership-icon.png") !important;
  background-repeat: no-repeat;
}

#main-content [href$='.pdf'], .node-type-people .group-organization .fieldset-wrapper .field--name-field-find-on-org-chart .file a {
  background-image: url("../images/pdf-icon.png") !important;
  background-repeat: no-repeat;
}

#main-content [href$='.xls'],
#main-content [href$='.xlsx'] {
  background-image: url("../images/xls-icon.png") !important;
  background-repeat: no-repeat;
}

#main-content [href$='.doc'],
#main-content [href$='.docx'] {
  background-image: url("../images/doc-icon.png") !important;
  background-repeat: no-repeat;
}

#main-content [href$='.html'] {
  background-image: url("../images/html-icon.png") !important;
  background-repeat: no-repeat;
}

#block-bean-submit-your-news section a, #block-bean-submit-your-news section a:hover {
  background-image: url("../images/news-submit-icon.png") !important;
  background-repeat: no-repeat !important;
}

#main-content [href$='.pdf'] {
  padding-left: 1.8em;
}
#main-content [href$='.xls'],
#main-content [href$='.xlsx'] {
  padding-left: 1.8em;
}
#main-content [href$='.doc'],
#main-content [href$='.docx'] {
  padding-left: 1.8em;
}
#main-content [href$='.html'] {
  padding-left: 1.8em;
}

/* No files to import found in abstractions/**\/* */
input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

#gcwu-bnr-in {
  min-height: 6.25em;
}

#views-record-count-text strong {
  font-weight: 300;
  color: #000;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

.view-calendar #views-record-count-text strong {
  font-weight: 300;
  color: #000;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.view-calendar table th.views-field-title {
  width: 35%;
}
.view-calendar table th.views-field-field-description {
  width: 35%;
}
.view-calendar table th.views-field-field-location {
  width: 15%;
}
.view-calendar table th.views-field-field-entry-date {
  width: 15%;
}

img, media {
  max-width: 100%;
}

table {
  margin-left: 0;
  margin-right: 0;
}
table caption {
  margin: 0;
  text-align: left;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.7em;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
table thead tr th {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 500;
  text-align: left;
  background-color: #eef0ec;
}
table tbody {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
table tbody tr td.views-field-title, table tbody tr td.views-field-field-description, table tbody tr td.views-field-field-location, table tbody tr td.views-field-field-entry-date {
  font-size: .9em;
  font-weight: 400;
}
table tbody tr td a {
  font-size: 1em;
  color: #295376 !important;
}
table tr.odd,
table tr.even {
  background-color: #fff;
}

body {
  font-size: 100%;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: normal;
  line-height: 1.6;
}

h1 {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 1.625em;
  color: #00847f !important;
  font-weight: 700;
}

h2 {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 1.375em;
  color: #50911b !important;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 1.25em;
  color: #50911b;
  font-weight: 700;
}

h4 {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 1.125em;
  color: #666666;
  font-weight: 700;
}

h5 {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 1em;
  color: #666666;
  font-weight: 700;
}

h6 {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 0.9375em;
  color: #666666;
  font-weight: 700;
}

p,
div,
li,
ol {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  color: #000000;
}

blockquote {
  background-color: #f0f8f8 !important;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 5px solid #b9dad9 !important;
  max-width: 75%;
  margin-left: 60px;
}
blockquote p {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

#wb-cont {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

.section-node {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

/* =============================================================================
   CALENDAR ENTRY
   ========================================================================== */
.node-type-calendar-entry .field {
  margin-bottom: 1em;
}
.node-type-calendar-entry .field__label {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 600;
  text-transform: uppercase;
}
.node-type-calendar-entry .field--name-field-description {
  width: 65.51724%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.node-type-calendar-entry .field--name-field-description p {
  margin-left: 0;
}
.node-type-calendar-entry .event-details {
  margin-top: 0;
  width: 31.03448%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.node-type-calendar-entry .event-details legend .fieldset-legend {
  background-color: #eef0ec !important;
  padding: .5em 0 .4em 0;
  margin-top: 1px !important;
  width: 100%;
  border-top: 1px solid #ccc;
  display: block;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 400;
  font-size: .8em;
  text-align: left !important;
}
.node-type-calendar-entry .event-details .field--name-field-location {
  margin-top: 1.2em;
}
.node-type-calendar-entry .event-details .field--name-field-location .field__item,
.node-type-calendar-entry .event-details .field--name-field-contact .field__item,
.node-type-calendar-entry .event-details .field--name-field-entry-date .field__item {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300;
}

/* =============================================================================
   EXPOSED FILTERS AND OTHER
   ========================================================================== */
.views-exposed-form-document-library-page-1 {
  margin-left: 0;
}

.views-exposed-form-search-page .views-exposed-form {
  background-color: #ffffff;
  padding: 0;
}
.views-exposed-form-search-page #edit-keyword-wrapper {
  width: 80%;
}
.views-exposed-form-search-page #edit-keyword-wrapper #edit-keyword {
  width: 100%;
}

#wb-sec .block--facetapi {
  margin: 0.5em 0;
  border: 1px solid #d4d4d4;
}
#wb-sec .block--facetapi h3 {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  background-color: #e8f6dc;
  color: #000000;
  padding: 1em;
  margin: 0;
}
#wb-sec .block--facetapi ul.facetapi-processed {
  border: none;
  padding: 0.5em;
  margin-left: 10px;
  padding-left: 5px;
}
#wb-sec .block--facetapi ul.facetapi-processed li {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  margin: 0.5em 0;
  background-color: transparent;
  color: #000000;
  font-weight: 400;
  font-size: .9em !important;
}
#wb-sec .block--facetapi ul.facetapi-processed li input {
  margin-right: 5px;
}
#wb-sec .block--facetapi ul.facetapi-processed li a {
  display: inline !important;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  background-color: transparent;
  color: #000000;
  padding-left: 0;
  font-weight: 400;
  font-size: .9em !important;
  cursor: default;
}
#wb-sec .block--facetapi ul.facetapi-processed li a:hover {
  text-decoration: none !important;
}
#wb-sec .block--facetapi ul.facetapi-processed li ul {
  border: none;
  margin-left: 10px;
  padding-left: 5px;
}
#wb-sec .block--views {
  border: 1px solid #d4d4d4;
}
#wb-sec .block--views h3 {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  background-color: #4f911b;
  padding: .5em 1em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
#wb-sec .block--views h3 a {
  background-color: transparent;
  color: white;
}
#wb-sec .block--views form {
  margin: 0;
  padding: 0;
}
#wb-sec .block--views form .views-exposed-form
.views-exposed-widget {
  padding: 0;
  width: 100%;
}
#wb-sec .block--views form .views-exposed-widgets label {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  background-color: #e8f5de;
  color: #000000;
  padding: .5em;
  margin: 0;
}
#wb-sec .block--views form .views-exposed-widget .views-widget {
  padding: 0 1em 0 0;
}
#wb-sec .block--views form .views-exposed-widget .views-widget label {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 400;
  background-color: transparent !important;
  line-height: 150%;
  padding: 0;
  color: #000000;
  font-size: .8em;
}
#wb-sec .block--views form .views-exposed-widget ul.bef-tree-child {
  border: none;
}
#wb-sec .block--views form .views-exposed-widget ul.bef-tree-child li {
  margin: 0.5em 0;
}
#wb-sec .block--views form .views-exposed-widget .date-year,
#wb-sec .block--views form .views-exposed-widget .date-month,
#wb-sec .block--views form .views-exposed-widget .date-day {
  height: auto;
  width: auto;
  background: none;
  border: none;
  box-shadow: none;
  border-radius: none;
}
#wb-sec .block--views form .views-exposed-widget .date-year select,
#wb-sec .block--views form .views-exposed-widget .date-month select,
#wb-sec .block--views form .views-exposed-widget .date-day select {
  color: #000 !important;
  font-weight: 400;
  border: 1px solid #ccc;
  margin: 1em 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border-style: solid;
  border-width: 1px;
  min-height: 18px !important;
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  text-shadow: none;
}
#wb-sec .block--views form .views-exposed-widget.views-submit-button, #wb-sec .block--views form .views-exposed-widget.views-reset-button {
  width: auto;
}
#wb-sec .block--views form .container-inline-date {
  text-align: center;
}
#wb-sec .block--views form .container-inline-date select {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 500;
  font-size: .8em;
}
#wb-sec .block--bean h3 {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  background-color: #4f911b;
  padding: .5em 1em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
#wb-sec .block--bean h3 a {
  background-color: transparent;
  color: #ffffff;
}
#wb-sec .block--bean p {
  margin-left: 0;
  margin-right: 0;
}

#edit-field-modified-date-value-wrapper .views-widget {
  margin-bottom: 1em;
}
#edit-field-modified-date-value-wrapper .form-type-date-popup label {
  margin-top: .5em !important;
  color: black !important;
  font-weight: 500 !important;
  font-size: 1em !important;
}
#edit-field-modified-date-value-wrapper .form-type-date-popup input {
  text-align: center;
  font-weight: 400;
}
#edit-field-modified-date-value-wrapper .form-type-date-popup .description {
  font-weight: 400;
  margin-top: .2em;
  font-size: .7em;
  color: #747474;
}

.views-submit-button input.form-submit {
  margin-bottom: 1em !important;
  margin-left: 1em !important;
}

/* =============================================================================
   SITE FOOTER
   ========================================================================== */
.more-footer {
  padding-top: .5em;
  background-color: #b9dad9 !important;
  min-height: 250px;
  clear: both;
}
.more-footer .address {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  padding-right: 10px;
}
.more-footer .address p {
  color: #535858 !important;
  font-size: 1em !important;
}
.more-footer .people-finder {
  width: 16.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 33.33333%;
  clear: none;
  padding-right: 10px;
}
.more-footer .people-finder p {
  color: #535858;
}
.more-footer .social {
  width: 16.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 50%;
  clear: none;
  padding-right: 10px;
}
.more-footer .social .social-icons {
  margin-top: .8em;
}
.more-footer .social .social-icons a img {
  width: 29px;
  height: auto;
  margin-left: .2em;
  margin-right: .1em;
}
.more-footer .our-public-sites {
  width: 16.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 66.66667%;
  clear: none;
  padding-right: 10px;
}
.more-footer .gc-sites {
  width: 16.66667%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-right: 10px;
}
.more-footer .our-public-sites .top-section,
.more-footer .gc-sites .top-section {
  margin-top: 1px;
}
.more-footer .our-public-sites .top-section a,
.more-footer .gc-sites .top-section a {
  color: #535858;
  text-decoration: none;
  cursor: default;
  font-size: .8em;
  font-weight: 500;
}
.more-footer .our-public-sites ul,
.more-footer .gc-sites ul {
  margin-left: .8em;
  margin-top: 0;
  list-style: none;
}
.more-footer .our-public-sites ul li a,
.more-footer .gc-sites ul li a {
  color: #535858;
  font-size: .9em !important;
  font-weight: normal;
  text-decoration: none;
}
.more-footer .our-public-sites ul li a:hover,
.more-footer .gc-sites ul li a:hover {
  text-decoration: underline;
}

/* =============================================================================
   GENERAL
   ========================================================================== */
.people-or-site {
  text-align: center;
  margin-bottom: 4px;
}
.people-or-site .p-o-s {
  width: 100%;
  min-height: 40px;
}
.people-or-site .p-o-s a {
  display: inline-block;
  width: 49%;
  text-align: center;
  padding: .8em 1em;
  background-color: #eef0ec;
  line-height: 100%;
  color: #505050;
  text-decoration: none;
}
.people-or-site .p-o-s a:hover {
  background-color: #c3f39b;
}

body {
  background-image: url("../images/body-bg.png") !important;
  background-repeat: repeat !important;
}

#wb-body {
  background: transparent !important;
}

[id|=wb-body] {
  background: transparent !important;
}

#page {
  width: 1200px;
  box-sizing: content-box;
  padding: 0 10px;
  margin: 0 auto;
  background: none transparent;
  background-color: #ffffff !important;
  box-shadow: -10px -10px 30px -20px, 10px -10px 30px -20px;
}

#wb-core-in,
#gcwu-bc-in {
  background: none !important;
}

#content {
  margin-left: 1em !important;
  margin-right: 1em !important;
}

#main-content-header {
  margin-left: 1em !important;
  margin-right: 1em !important;
}

#gcwu-intranetnb {
  min-width: 1200px;
  background-color: #3b3b3b;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5.2%, #3b3b3b), color-stop(5.44%, #3c3c3c), color-stop(100%, #555555));
  background-image: -webkit-linear-gradient(bottom, #3b3b3b 5.2%, #3c3c3c 5.44%, #555555 100%);
  background-image: -moz-linear-gradient(bottom, #3b3b3b 5.2%, #3c3c3c 5.44%, #555555 100%);
  background-image: -o-linear-gradient(bottom, #3b3b3b 5.2%, #3c3c3c 5.44%, #555555 100%);
  background-image: linear-gradient(bottom, #3b3b3b 5.2%, #3c3c3c 5.44%, #555555 100%);
}
#gcwu-intranetnb #gcwu-sig {
  min-width: 350px !important;
}
#gcwu-intranetnb #gcwu-sig #gcwu-sig-in {
  width: 350px !important;
  height: 25px !important;
  padding-top: .2em;
  padding-left: .5em;
}
#gcwu-intranetnb #gcwu-sig #gcwu-sig-in img {
  width: 330px !important;
  height: 23px !important;
  margin: 0 !important;
}
#gcwu-intranetnb #gcwu-intranetnb-in {
  background-image: none !important;
  background-color: none !important;
}
#gcwu-intranetnb #gcwu-intranetnb-in ul {
  background-image: none !important;
}
#gcwu-intranetnb #gcwu-intranetnb-in #gcwu-gcnb-lang {
  background: none !important;
}
#gcwu-intranetnb #gcwu-intranetnb-in #gcwu-gcnb-lang a {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300;
  text-transform: uppercase;
}

#gcwu-wmms {
  padding-top: .5em;
  height: 50px;
}
#gcwu-wmms #gcwu-wmms-in {
  margin-right: 1em;
  margin-top: 1em;
  padding-top: .5em !important;
}

#gcwu-intranetnb {
  background-color: #0000000;
  z-index: 100;
}

#gcwu-gcnb-fip {
  min-height: 30px !important;
  position: absolute;
  top: 5px;
  right: -7px;
  border: none !important;
}

#gcwu-bnr {
  background: none;
  border-top: none;
}
#gcwu-bnr #gcwu-bnr-in {
  background-image: none;
  background-color: white;
  height: 107px;
}
#gcwu-bnr #gcwu-bnr-in #gcwu-title {
  height: 107px !important;
  width: 600px;
  padding-top: 0;
}
#gcwu-bnr #gcwu-bnr-in #gcwu-title a {
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  left: -29px;
  top: -5px;
}
#gcwu-bnr #gcwu-bnr-in #gcwu-title a img {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
#gcwu-bnr #gcwu-bnr-in #gcwu-title #gcwu-title-in {
  margin-left: 5.5em;
  margin-top: .2em;
}
#gcwu-bnr #gcwu-bnr-in #gcwu-title #gcwu-title-in a {
  display: none;
  font-size: 2em;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
#gcwu-bnr #gcwu-bnr-in section #gcwu-srchbx {
  top: 30px;
  margin-top: 0;
}

#gcwu-gcnb {
  background: none;
  border-bottom: none;
  background-color: none !important;
  min-height: 45px !important;
}

.view-document-library ul,
.view-search ul,
.view-people-finder ul,
.view-internal-news ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.view-document-library ul li,
.view-search ul li,
.view-people-finder ul li,
.view-internal-news ul li {
  padding-top: .5em;
  padding-bottom: 1em;
  border-top: 1px solid #d4d4d4;
  display: block;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.view-document-library ul li .views-field,
.view-search ul li .views-field,
.view-people-finder ul li .views-field,
.view-internal-news ul li .views-field {
  padding-bottom: .2em;
}
.view-document-library ul li .views-label,
.view-search ul li .views-label,
.view-people-finder ul li .views-label,
.view-internal-news ul li .views-label {
  color: #6d6d6d;
  vertical-align: top;
  display: inline-block;
  width: 15%;
}
.view-document-library ul li .field-content,
.view-search ul li .field-content,
.view-people-finder ul li .field-content,
.view-internal-news ul li .field-content {
  display: inline-block;
  vertical-align: top;
  width: 80%;
}
.view-document-library ul li .field-content a,
.view-search ul li .field-content a,
.view-people-finder ul li .field-content a,
.view-internal-news ul li .field-content a {
  color: #295376;
  font-weight: 700;
}
.view-document-library ul li .field-content a:visited,
.view-search ul li .field-content a:visited,
.view-people-finder ul li .field-content a:visited,
.view-internal-news ul li .field-content a:visited {
  color: #295376 !important;
}
.view-document-library ul li .views-field-picture,
.view-search ul li .views-field-picture,
.view-people-finder ul li .views-field-picture,
.view-internal-news ul li .views-field-picture {
  display: inline-block;
}
.view-document-library ul li .views-field-picture img,
.view-search ul li .views-field-picture img,
.view-people-finder ul li .views-field-picture img,
.view-internal-news ul li .views-field-picture img {
  width: 225px;
}

#gcwu-date-mod {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: .8em;
  font-weight: 400;
  text-shadow: none !important;
}

#block-bean-submit-your-news section a {
  min-height: 50px;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300;
  display: block;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: #424242;
  color: #ffffff !important;
  text-shadow: none;
  line-height: 300%;
  cursor: pointer;
  background-position: 15% center;
}
#block-bean-submit-your-news section a:hover {
  background-color: #000000 !important;
  background-position: 15% center;
}
#block-bean-submit-your-news section a .wb-icon-paper-share {
  background: none;
  display: none;
}

/* =============================================================================
   INTERNAL NEWS

   ========================================================================== */
.node-type-media-file .field__label {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 600;
  text-transform: uppercase;
}
.node-type-media-file .field--name-field-description {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.node-type-media-file .field--name-field-description p {
  margin-left: 0;
}
.node-type-media-file .field {
  margin-bottom: 1em;
}
.node-type-media-file .field--name-field-modified-date {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300;
}
.node-type-media-file .field--name-field-attachment {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300;
}
.node-type-media-file .field--name-field-attachment .file-icon {
  display: none;
}
.node-type-media-file .field--name-field-attachment a {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300;
}
.node-type-media-file .field--name-field-ownership {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300;
}
.node-type-media-file .field--name-field-ownership a {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300;
}
.node-type-media-file .field--name-field-document-type {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300;
}
.node-type-media-file .field--name-field-document-type a {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300;
}
.node-type-media-file .field--name-field-show-in-news {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300;
}
.node-type-media-file .with-user-picture .user-picture {
  text-align: center;
}
.node-type-media-file .with-user-picture .user-picture img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.node-type-media-file .with-user-picture .author-datetime {
  text-align: center;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300;
  font-size: .8em;
}
.node-type-media-file .main-info {
  width: 66.66667%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  padding-right: 10px;
}
.node-type-media-file .extra-info {
  width: 33.33333%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-right: 10px;
}

.pager-container {
  margin: 0 auto;
  text-align: center;
  padding-top: 1em;
}
.pager-container .pager {
  display: inline-block;
}
.pager-container .pager li a {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.pager-container .pager li.pager-first a {
  background-image: none;
}
.pager-container .pager li.pager-previous a {
  background-image: none;
}
.pager-container .pager li.pager-item a {
  background-image: none;
}
.pager-container .pager li.pager-next a {
  background-image: none;
}
.pager-container .pager li.pager-last a {
  background-image: none;
}

/* =============================================================================
   PEOPLE FINDER
   ========================================================================== */
.section-people-finder .view-people-finder ul li,
.section-people-finder-2 .view-people-finder ul li {
  padding-bottom: 1em;
  margin-bottom: 1em;
  clear: both;
}
.section-people-finder .view-people-finder ul li .views-field-field-profile-picture,
.section-people-finder-2 .view-people-finder ul li .views-field-field-profile-picture {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  padding-right: 10px;
}
.section-people-finder .view-people-finder ul li .views-field-field-profile-picture img,
.section-people-finder-2 .view-people-finder ul li .views-field-field-profile-picture img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.section-people-finder .view-people-finder ul li .views-field-field-email a,
.section-people-finder-2 .view-people-finder ul li .views-field-field-email a {
  background: none;
  padding-left: 0 !important;
}
.section-people-finder .view-people-finder ul li .views-fieldset,
.section-people-finder-2 .view-people-finder ul li .views-fieldset {
  width: 66.66667%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-right: 10px;
  width: 80%;
}

.node-type-people .info-part-1 {
  min-height: 280px;
  width: 30.43478%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}
.node-type-people .info-part-1 .field--name-field-profile-picture {
  text-align: center;
}
.node-type-people .info-part-1 .field--name-field-profile-picture img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.node-type-people .info-part-1 .field--name-field-status {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
.node-type-people .info-part-1 .field--name-field-job-title {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 700;
  margin-left: .5em;
  text-transform: uppercase;
  text-align: center;
}
.node-type-people .info-part-2 {
  min-height: 280px;
  width: 65.21739%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.node-type-people .info-part-2 .field--name-body {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.node-type-people .info-part-2 .field--name-field-linkedin-profile {
  margin-left: .5em;
  background-color: #007bb6;
  max-width: 210px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: .5em .5em .5em .5em;
  background-image: url("../images/linedin-icon.png") !important;
  background-repeat: no-repeat;
  background-position: 5% 42%;
}
.node-type-people .info-part-2 .field--name-field-linkedin-profile a {
  margin-left: 2em;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 500;
  color: white !important;
  text-decoration: none;
}
.node-type-people .info-part-2 .field--name-field-linkedin-profile a:hover {
  text-decoration: underline;
}
.node-type-people .group-contact {
  clear: both;
  width: 47.82609%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  padding-top: 0 !important;
  margin-top: 2em;
  border: none !important;
}
.node-type-people .group-contact legend {
  margin-top: 0 !important;
  width: 100% !important;
  height: 40px !important;
  display: block !important;
  background-color: #eef0ec !important;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.node-type-people .group-contact legend .fieldset-legend {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 400;
  font-size: .8em;
  text-align: center !important;
}
.node-type-people .group-contact .fieldset-wrapper {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  min-height: 240px;
}
.node-type-people .group-contact .fieldset-wrapper .field--name-field-email {
  line-height: 120% !important;
  margin-bottom: .5em;
}
.node-type-people .group-contact .fieldset-wrapper .field--name-field-email a {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  color: #295376 !important;
  padding-left: 1.5em;
  vertical-align: middle !important;
}
.node-type-people .group-contact .fieldset-wrapper .field--name-field-phone-number {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  padding-left: 1.5em;
  line-height: 120%;
  margin-bottom: .5em;
}
.node-type-people .group-contact .fieldset-wrapper .field--name-field-extension {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  padding-left: 1.5em;
  line-height: 120%;
  margin-bottom: .5em;
}
.node-type-people .group-contact .fieldset-wrapper .field--name-field-office {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  padding-left: 1.5em;
  line-height: 120%;
  margin-bottom: .5em;
}
.node-type-people .group-contact .fieldset-wrapper .field--name-field-address {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  padding-left: 1.5em;
  line-height: 120%;
  margin-bottom: .5em;
}
.node-type-people .group-contact .fieldset-wrapper .field--name-field-address p {
  margin-top: 0;
  margin-left: 0;
}
.node-type-people .group-contact .fieldset-wrapper .field--name-field-language {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  padding-left: 1.5em;
  line-height: 120%;
  margin-bottom: .5em;
}
.node-type-people .group-organization {
  width: 47.82609%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-top: 0 !important;
  margin-top: 2em;
  border: none !important;
}
.node-type-people .group-organization legend {
  margin-top: 0 !important;
  width: 100% !important;
  height: 40px !important;
  display: block !important;
  background-color: #eef0ec !important;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.node-type-people .group-organization legend .fieldset-legend {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 400;
  font-size: .8em;
  text-align: center !important;
}
.node-type-people .group-organization .fieldset-wrapper {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  min-height: 240px;
}
.node-type-people .group-organization .fieldset-wrapper .field--name-field-organizational-chart {
  margin-bottom: .5em;
}
.node-type-people .group-organization .fieldset-wrapper .field--name-field-organizational-chart a {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  color: #295376 !important;
  padding-left: 1.5em;
  vertical-align: middle !important;
  line-height: 120% !important;
}
.node-type-people .group-organization .fieldset-wrapper #node_people_full_group_memberships h3 {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 400;
  font-size: 1em;
  color: #000000;
  margin-left: 0;
  line-height: 120%;
  text-transform: uppercase;
}
.node-type-people .group-organization .fieldset-wrapper .field--name-field-committee-memberships {
  margin-bottom: .5em;
}
.node-type-people .group-organization .fieldset-wrapper .field--name-field-committee-memberships a {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  color: #295376 !important;
  padding-left: 1.5em;
  vertical-align: middle !important;
  line-height: 120% !important;
}
.node-type-people .group-organization .fieldset-wrapper .field--name-field-find-on-org-chart {
  padding-top: 1em;
}
.node-type-people .group-organization .fieldset-wrapper .field--name-field-find-on-org-chart .field__label {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 400;
  font-size: 1em;
  line-height: 120%;
  text-transform: uppercase;
}
.node-type-people .group-organization .fieldset-wrapper .field--name-field-find-on-org-chart .file .file-icon {
  display: none;
}
.node-type-people .group-organization .fieldset-wrapper .field--name-field-find-on-org-chart .file a {
  padding-left: 2em;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

/* =============================================================================
   Block
   ========================================================================== */
.block-content #tasks .tabs li {
  text-align: right;
}
.block-content #tasks .tabs li a {
  top: 0px;
  margin-top: 0px;
}

#tasks .tabs {
  text-align: right;
  border: none;
}
#tasks .tabs li {
  border: none;
}
#tasks .tabs li a {
  border: 1px solid #000000;
  padding: .2em .4em;
  font-weight: 300;
  font-size: .9em;
  text-transform: uppercase;
  top: 0px;
  margin-top: 0px;
  background: #353535;
  color: #ffffff !important;
}
#tasks .tabs li a.active {
  background-color: white !important;
  font-weight: 400;
  color: #000000 !important;
}

.block--views {
  margin-bottom: 1em;
}

/* =============================================================================
   Contextual
   ========================================================================== */
.contextual-links-wrapper {
  z-index: 10;
}

.contextual-links-region-active {
  z-index: 100 !important;
}

/* =============================================================================
   CTools
   ========================================================================== */
div.ctools-button,
div.ctools-dropbutton,
div.ctools-dropbutton-processed {
  background-color: #F3F3F3;
  background-image: -moz-linear-gradient(center bottom, #e6e6e6 0%, #fefefe 100%);
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  color: black;
  padding: 0px 10px 0px 4px;
}

td div.ctools-dropbutton {
  position: relative !important;
  right: 0px !important;
}

div.ctools-button {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  line-height: 1;
}

div.ctools-button:hover {
  cursor: pointer;
}

div.ctools-dropbutton .ctools-content {
  margin-right: 10px;
}

div.ctools-button .ctools-content {
  padding-bottom: 2px;
  padding-top: 2px;
}

div.ctools-button .ctools-content ul {
  list-style-image: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

div.ctools-button .ctools-content ul li {
  line-height: 1.3333;
}

div.ctools-button .ctools-link {
  margin-left: 3px;
  padding-left: 3px;
  border-left: 2px solid #CCC;
}

div.ctools-dropbutton .ctools-link {
  margin-left: 3px;
  padding-left: 3px;
  border-left: 0;
}

div.ctools-button ul {
  padding-left: 4px;
}

div.ctools-dropbutton ul {
  padding-left: 4px;
}

div.ctools-button a,
div.ctools-dropbutton a {
  color: black;
  padding: 0px;
  background-image: none;
  background-color: transparent;
  border: 0 none;
}

div.ctools-button .ctools-link a,
div.ctools-dropbutton .ctools-link a {
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-style: solid;
  border-width: 4px 4px 0;
  font-weight: normal;
  margin-left: 5px;
}

/* =============================================================================
   Custom Search
   ========================================================================== */
.custom_search-popup {
  z-index: 99 !important;
  width: 198px;
  background-color: white;
  padding: 0px 10px;
  border: 1px solid #DDD;
}
.custom_search-popup a {
  color: black !important;
}
.custom_search-popup label {
  position: relative !important;
}
.custom_search-popup .form-item {
  text-align: left;
}

.search-form .form-item-custom-search-blocks-form-1 {
  display: inline;
}

/* =============================================================================
   Devel
   ========================================================================== */
.krumo-root img {
  width: auto;
}

/* =============================================================================
   Diff
   ========================================================================== */
.page-node-revisions #block-system-main .diff-section-title,
.page-node-moderation #block-system-main .diff-section-title {
  margin: 0px 10px;
  font-size: 12px;
  padding: 5px;
  background-color: #eee;
  border: 1px solid #d4d4d4;
}
.page-node-revisions #block-system-main table.diff,
.page-node-moderation #block-system-main table.diff {
  width: auto;
  table-layout: auto;
}
.page-node-revisions #block-system-main table.diff-revisions,
.page-node-moderation #block-system-main table.diff-revisions {
  margin: 0px;
}
.page-node-revisions #block-system-main table.diff-revisions .error,
.page-node-moderation #block-system-main table.diff-revisions .error {
  color: #000;
}
.page-node-revisions #block-system-main table.diff-revisions .diff-revision td.revision-current,
.page-node-moderation #block-system-main table.diff-revisions .diff-revision td.revision-current {
  background: #aaffaa;
}

/* =============================================================================
   Field
   ========================================================================== */
.field-label-inline .field-label {
  margin: 0;
}

.field-name-field-featured-image-form .image-preview {
  float: none;
}

/* =============================================================================
   jQuery Update
   ========================================================================== */
.ui-widget-overlay {
  background: none;
  opacity: 0 !important;
}

/* =============================================================================
   Linkit
   ========================================================================== */
.ui-dialog.linkit-wrapper {
  z-index: 501;
  background-color: white !important;
}
.ui-dialog.linkit-wrapper .ui-dialog-titlebar {
  border: none;
}
.ui-dialog.linkit-wrapper .ui-dialog-titlebar-close {
  display: none;
}
.ui-dialog.linkit-wrapper #edit-linkit-insert {
  display: inline;
  margin-right: 10px;
}
.ui-dialog.linkit-wrapper .better-autocomplete > .result.highlight {
  background-color: #ffffce;
}

#linkit-modal fieldset.form-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.linkit-attributes legend:after {
  border: none;
}
.linkit-attributes .fieldset-wrapper {
  margin-left: 20px;
}

/* =============================================================================
   Metatag
   ========================================================================== */
.media-wrapper {
  z-index: 999 !important;
}

/* =============================================================================
   Metatag
   ========================================================================== */
.vertical-tabs .vertical-tabs-panes .metatags-form {
  margin-top: 1em !important;
}
.vertical-tabs .vertical-tabs-panes .metatags-form .fieldset-wrapper {
  margin-left: 10px;
}

/* =============================================================================
   Navbar
   ========================================================================== */
.navbar-horizontal .tab a .ui-link:visited,
.navbar-vertical .tab a .ui-link:visited,
.navbar-tray-open .tab a .ui-link:visited {
  color: #FFFFFF;
}

.navbar-tray-open #wb-body {
  position: relative;
}

#gcwu-psnb [href$='.psd'],
#gcwu-psnb [href$='.zip'],
#gcwu-psnb [href$='.egret'],
#gcwu-psnb [href$='.doc'],
#gcwu-psnb [href$='.pdf'],
#gcwu-psnb [href$='.xls'],
#gcwu-psnb [href$='.rtf'],
#gcwu-psnb [href$='.pot'],
#gcwu-psnb [href$='.ppt'],
#gcwu-psnb [href$='.pps'],
#gcwu-psnb [href$='.pptm'],
#gcwu-psnb [href$='.docx'],
#gcwu-psnb [href$='.xlsx'],
#gcwu-psnb [href$='.pptx'],
#gcwu-psnb [href$='.pub'] {
  background-image: none !important;
}
#gcwu-psnb #gcwu-psnb-in {
  padding-top: 1em;
  background-color: #ffffff;
}
#gcwu-psnb #gcwu-psnb-in .wet-boew-menubar {
  margin-top: 0;
}
#gcwu-psnb #gcwu-psnb-in .wet-boew-menubar ul.mb-menu {
  background: none;
  background-color: #eef0ec;
  max-width: 1198px;
}
#gcwu-psnb #gcwu-psnb-in .wet-boew-menubar ul.mb-menu .nav-current {
  background: #e8f6dc;
}
#gcwu-psnb #gcwu-psnb-in .wet-boew-menubar ul.mb-menu .nav-current:hover {
  background: #c3f39b;
}
#gcwu-psnb #gcwu-psnb-in .wet-boew-menubar ul.mb-menu li {
  border-left: none;
  border-right: 1px solid #CCCCCC;
}
#gcwu-psnb #gcwu-psnb-in .wet-boew-menubar ul.mb-menu li a {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  color: #505050;
}
#gcwu-psnb #gcwu-psnb-in .wet-boew-menubar ul.mb-menu li a:hover {
  background: #c3f39b;
}
#gcwu-psnb #gcwu-psnb-in .wet-boew-menubar ul.mb-menu .mb-sm-open {
  background: #e8f6dc;
}

.mb-main-link a {
  background-color: #eef0ec;
  margin-left: -12px !important;
}

/* =============================================================================
   Node
   ========================================================================== */
html.js .page-node-add fieldset.collapsed, html.js .page-node-edit fieldset.collapsed {
  border-width: 1px;
  height: auto;
}
html.js .page-node-add .node-form h3.pane-title, html.js .page-node-edit .node-form h3.pane-title {
  background: #DDD;
  padding: 2px 4px;
}
html.js .page-node-add label[for="edit-language"],
html.js .page-node-edit label[for="edit-language"] {
  display: inline;
}
html.js .page-node-edit .pane-page-tabs ul.tabs {
  margin: 0px 0px 10px 0px;
}
html.js .page-node-edit .pane-page-tabs #tabs {
  margin: 0px 0px 0px 0px;
}

.node {
  margin-bottom: 0px;
}

.page-node .image-widget-data .form-file {
  border: none;
  box-shadow: none;
  padding: 0px;
}

#node-edit .image-widget .form-submit, #node-edit .file-widget .form-submit {
  display: inline;
}
#node-edit .form-actions input {
  display: inline;
}

/* =============================================================================
   Open Layers
   ========================================================================== */
.gmap img, .view-gmap img, .openlayers-map img, #getlocations_map_canvas img {
  max-width: none;
}

/* =============================================================================
   Panels
   ========================================================================== */
.pane-node-field-application-developer h2, .pane-node-field-application-categories h2,
.pane-node-field-departments h2, .pane-node-field-device-formats h2 {
  margin: 0px;
}

.pane-node-updated #gcwu-date-mod {
  position: relative;
  float: right;
}

.panels-ipe-editing .region-pearson-first {
  margin-right: 10px;
}
.panels-ipe-editing .region-pearson-second {
  margin-right: 10px;
}
.panels-ipe-editing #wb-sec-in {
  margin-top: 0px;
}

.panels-ipe-placeholder h3 {
  background: none;
  padding: 0px;
}
.panels-ipe-placeholder h4 {
  font-weight: 700;
  font-size: 15px;
  width: 75px;
  margin: 1.154em 0;
  line-height: 150%;
}

.panel-pane .block-content .node-unpublished {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.panel-pane .wet-menu-block {
  margin-bottom: 10px;
}

.panels-ipe-newblock li {
  list-style: none;
  float: left;
}

#panels-ipe-control-container a, #panels-ipe-control-container input {
  color: white;
}

/* =============================================================================
   Search
   ========================================================================== */
.search-form #edit-actions {
  display: inline;
}
.search-form .form-actions {
  display: inline;
}

.search-result__info {
  margin-left: 2em;
}

.views-exposed-widgets {
  width: 100%;
  margin: 0;
}
.views-exposed-widgets .views-widget-filter-title_field_value {
  width: 70%;
}
.views-exposed-widgets .views-widget-filter-title_field_value input {
  width: 98%;
}
.views-exposed-widgets .views-submit-button,
.views-exposed-widgets .views-reset-button {
  width: auto;
}
.views-exposed-widgets .views-submit-button .form-submit,
.views-exposed-widgets .views-reset-button .form-submit {
  margin: 0;
}

input.form-submit {
  background-color: #4f911b;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: 400;
  font-size: .8em;
  padding: .5em 1em;
  border: none;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}
input.form-submit:hover {
  background-color: #417716;
}

.form-text {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

.custom-search-blocks-form-1 div {
  margin-right: 0;
}
.custom-search-blocks-form-1 div .form-item-custom-search-blocks-form-1 {
  display: inline-block;
}
.custom-search-blocks-form-1 div .form-item-custom-search-blocks-form-1 input#gcwu-srch {
  min-width: 340px;
  padding: 4px 8px 8px 8px !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.custom-search-blocks-form-1 div .form-actions {
  width: 36px !important;
  height: 36px !important;
  display: inline-block;
  margin-left: -14px;
  background-color: darkolivegreen;
}
.custom-search-blocks-form-1 div .form-actions input#gcwu-srch-submit {
  padding-top: -10px !important;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none;
  width: 35px !important;
  height: 35px !important;
  background: #4f911b;
  background-image: url("../images/m-glass.png");
}
.custom-search-blocks-form-1 div .form-actions input#gcwu-srch-submit:hover {
  background: #a1d777;
  background-image: url("../images/m-glass.png");
  box-shadow: none;
}

.views-exposed-form-internal-news-page-1,
.views-exposed-form-people-finder-page-1,
.views-exposed-form-internal-news-page-1,
.views-exposed-form-calendar-page-1,
.views-exposed-form-search-page {
  margin-left: 0;
}

/* =============================================================================
   System
   ========================================================================== */
a {
  color: #017773;
}
a:visited {
  color: #666633;
}

figure {
  display: block;
  margin: 0px;
  padding: 0px;
}

ul.tabs {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.container {
  max-width: none !important;
}

.form-item label.option {
  display: inline;
}

.maintenance-page #main-content #content {
  padding: 10px;
}

#breadcrumb,
.breadcrumb-wrapper {
  margin-left: 0px;
  margin-right: 0px;
}

#gcwu-bc-in {
  color: #555555;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 0.8125em;
}
#gcwu-bc-in a {
  font-size: 0.8125em;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  color: #017773;
}

#main-content {
  display: block !important;
}
#main-content #tasks ul.tabs {
  margin-bottom: 20px;
}

#status-messages {
  margin-top: 10px;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
#status-messages section div {
  max-width: 97.5%;
}
#status-messages section ul {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important !important;
  list-style: none;
  margin-left: .6em;
}
#status-messages section ul li {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif !important !important;
}

.progress {
  font-weight: normal;
}

/* =============================================================================
   User
   ========================================================================== */
.profile dl {
  margin-left: 10px;
  margin-right: 10px;
}

/* =============================================================================
   Views Responsive Grid
   ========================================================================== */
.views-responsive-grid img {
  width: auto !important;
  height: auto;
  float: left;
  margin-right: 10px;
  border: 1px solid #CCC;
}
.views-responsive-grid .views-row .span-3 {
  padding-bottom: 10px;
}

/* =============================================================================
   WetKit
   ========================================================================== */
#ogpl-title span.no-logo,
#wet-title span.no-logo {
  padding-left: 10px;
}

.wb-sec-def section li {
  list-style: none;
}

.gcwu-minister {
  margin-top: 10px;
}
.gcwu-minister img {
  padding-right: 5px;
  float: left;
  margin: 0;
}
.gcwu-minister p {
  background-color: #FFF;
  margin: 0;
  padding: 10px 5px 10px 0;
}
.gcwu-minister p strong {
  font-weight: 700;
  color: #001D45;
}
.gcwu-minister ul {
  list-style-type: none;
  padding-top: 17px;
  margin: 0;
}
.gcwu-minister ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.gcwu-minister li {
  padding-bottom: 8px;
}
.gcwu-minister li a:hover, .gcwu-minister li a:focus, .gcwu-minister li a:active {
  text-decoration: none;
}
.gcwu-minister .gcwu-minister-in {
  background-color: #EEE;
  min-height: 149px;
}

#gcwu-bnr {
  z-index: 99 !important;
}
#gcwu-bnr #gcwu-bnr-in #gcwu-title {
  margin-top: 0px;
  padding-top: 7px;
  margin-bottom: 0px;
}

#gcwu-connect a {
  background: none;
  padding-right: 0;
  text-decoration: none;
}
#gcwu-connect h2 {
  border: none;
  margin-bottom: 5px;
  color: #333;
  float: left;
  margin-top: 2px;
  margin-right: 10px;
}
#gcwu-connect li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
}
#gcwu-connect ul {
  list-style-type: none;
}

#gcwu-headlines ul {
  list-style: none !important;
  margin: 0 !important;
}
#gcwu-headlines ul li {
  list-style: none !important;
  margin: 0 !important;
}

#gcwu-psnb .wet-boew-megamenu {
  z-index: 98 !important;
}
#gcwu-psnb .mb-menu {
  z-index: 98 !important;
}

#gcwu-srchbx {
  margin-top: 1.2em;
  margin-right: .2em;
}
#gcwu-srchbx label {
  height: auto !important;
  width: auto !important;
  overflow: visible !important;
}
#gcwu-srchbx #gcwu-srchbx-in {
  display: inline;
}

#wb-aside {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
#wb-aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#wb-aside ul li {
  margin: 0;
  padding: 0;
}
#wb-aside img {
  margin-left: 0;
  margin-right: 0;
}
#wb-aside .gcwu-minister-img img {
  width: auto !important;
  height: auto;
}
#wb-aside #gcwu-priorities h2 {
  color: #333;
  font-weight: 400;
  border: 0;
  margin-bottom: 5px;
  font-size: 1.6em;
}

#wb-head, #wb-head-in, #gcwu-bnr, #gcwu-bnr-in {
  overflow: visible !important;
}

#wb-main-in fieldset {
  border: 1px solid #ccc;
  padding: 2em 0 0 0;
  /* LTR */
  position: relative;
  margin: 1em 0;
}
#wb-main-in fieldset.collapsed {
  background-color: transparent;
  border-width: 1px !important;
}
#wb-main-in fieldset .fieldset-legend {
  margin-top: 0.5em;
  padding-left: 15px;
  /* LTR */
  position: absolute;
  text-transform: uppercase;
}
#wb-main-in fieldset .fieldset-wrapper {
  padding: 10px 13px 13px 15px;
  /* LTR */
}
#wb-main-in fieldset legend {
  height: 0px;
}
#wb-main-in fieldset fieldset {
  background-color: #fff;
}
#wb-main-in fieldset fieldset fieldset {
  background-color: #f8f8f8;
}
#wb-main-in .horizontal-tabs .horizontal-tab-hidden {
  display: block;
  position: absolute;
}
#wb-main-in #gcwu-connect {
  margin-left: 0px;
}
#wb-main-in #gcwu-connect h2 {
  font-weight: 400;
  font-size: 1.6em;
  margin-top: 6px;
}

.node-wetkit_documentation-form .pane-node-form-publishing .pane-title {
  margin-top: 0px;
}

/* =============================================================================
   Workbench
   ========================================================================== */
#block-workbench-block .workbench-info-block {
  margin: 0px 10px 10px 10px;
  background-color: #FFFFCE !important;
  color: #000;
  font-weight: 600;
}
