/* =============================================================================
   Views Responsive Grid
   ========================================================================== */
.views-responsive-grid img {
  width: auto !important;
  height: auto;
  float: left;
  margin-right: 10px;
  border: 1px solid #CCC; }
.views-responsive-grid .views-row .span-3 {
  padding-bottom: 10px; }
