/* =============================================================================
   Metatag
   ========================================================================== */
.vertical-tabs .vertical-tabs-panes .metatags-form {
  margin-top: 1em !important; }
  .vertical-tabs .vertical-tabs-panes .metatags-form .fieldset-wrapper {
    margin-left: 10px; }
