/* =============================================================================
   Metatag
   ========================================================================== */

.vertical-tabs {
	.vertical-tabs-panes {
		.metatags-form {
			margin-top: 1em !important;
			.fieldset-wrapper {
				margin-left: 10px;
			}
		}
	}
}
