/* =============================================================================
   Panels
   ========================================================================== */
.pane-node-field-application-developer h2, .pane-node-field-application-categories h2,
.pane-node-field-departments h2, .pane-node-field-device-formats h2 {
  margin: 0px; }

.pane-node-updated #gcwu-date-mod {
  position: relative;
  float: right; }

.panels-ipe-editing .region-pearson-first {
  margin-right: 10px; }
.panels-ipe-editing .region-pearson-second {
  margin-right: 10px; }
.panels-ipe-editing #wb-sec-in {
  margin-top: 0px; }

.panels-ipe-placeholder h3 {
  background: none;
  padding: 0px; }
.panels-ipe-placeholder h4 {
  font-weight: 700;
  font-size: 15px;
  width: 75px;
  margin: 1.154em 0;
  line-height: 150%; }

.panel-pane .block-content .node-unpublished {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px; }
.panel-pane .wet-menu-block {
  margin-bottom: 10px; }

.panels-ipe-newblock li {
  list-style: none;
  float: left; }

#panels-ipe-control-container a, #panels-ipe-control-container input {
  color: white; }
