/* =============================================================================
   Panels
   ========================================================================== */

.pane-node-field-application-developer, .pane-node-field-application-categories,
.pane-node-field-departments, .pane-node-field-device-formats {
	h2 {
		margin: 0px;
	}
}

.pane-node-updated {
	#gcwu-date-mod {
		position: relative;
		float: right;
	}
}

.panels-ipe-editing {
	.region-pearson-first {
		margin-right: 10px;
	}
	.region-pearson-second {
		margin-right: 10px;
	}
	#wb-sec-in {
		margin-top: 0px;
	}
}

.panels-ipe-placeholder {
	h3 {
		background: none;
		padding: 0px;
	}
	h4 {
		font-weight: 700;
		font-size: 15px;
		width: 75px;
		margin: 1.154em 0;
		line-height: 150%;
	}
}

.panel-pane {
	.block-content {
		.node-unpublished {
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}
	.wet-menu-block {
		margin-bottom: 10px;
	}
}

.panels-ipe-newblock {
	li {
		list-style: none;
		float: left;
	}
}

#panels-ipe-control-container {
	a, input {
		color: white;
	}
}
