/* =============================================================================
   Node
   ========================================================================== */
html.js .page-node-add fieldset.collapsed, html.js .page-node-edit fieldset.collapsed {
  border-width: 1px;
  height: auto; }
html.js .page-node-add .node-form h3.pane-title, html.js .page-node-edit .node-form h3.pane-title {
  background: #DDD;
  padding: 2px 4px; }
html.js .page-node-add label[for="edit-language"],
html.js .page-node-edit label[for="edit-language"] {
  display: inline; }
html.js .page-node-edit .pane-page-tabs ul.tabs {
  margin: 0px 0px 10px 0px; }
html.js .page-node-edit .pane-page-tabs #tabs {
  margin: 0px 0px 0px 0px; }

.node {
  margin-bottom: 0px; }

.page-node .image-widget-data .form-file {
  border: none;
  box-shadow: none;
  padding: 0px; }

#node-edit .image-widget .form-submit, #node-edit .file-widget .form-submit {
  display: inline; }
#node-edit .form-actions input {
  display: inline; }
