/* =============================================================================
   Node
   ========================================================================== */
html.js {
	.page-node-add, .page-node-edit {
		fieldset.collapsed {
			border-width: 1px;
			height: auto;
		}
		.node-form {
			h3.pane-title {
				background: #DDD;
				padding: 2px 4px;
			}
		}
	}
	.page-node-add label[for="edit-language"],
	.page-node-edit label[for="edit-language"] {
		display: inline;
	}
	.page-node-edit {
		.pane-page-tabs {
			ul.tabs {
				margin: 0px 0px 10px 0px;
			}
			#tabs {
				margin: 0px 0px 0px 0px;
			}
		}
	}
}

.node {
	margin-bottom: 0px;
}

.page-node {
	.image-widget-data {
		.form-file {
			border: none;
			box-shadow: none;
			padding: 0px;
		}
	}
}

#node-edit {
	.image-widget, .file-widget {
		.form-submit {
			display: inline;
		}
	}
	.form-actions {
		input {
			display: inline;
		}
	}
}
