/* =============================================================================
   Contextual
   ========================================================================== */

.contextual-links-wrapper {
	z-index: 10;
}

.contextual-links-region-active {
	z-index: 100 !important;
}
