/* =============================================================================
   Custom Search
   ========================================================================== */
.custom_search-popup {
  z-index: 99 !important;
  width: 198px;
  background-color: white;
  padding: 0px 10px;
  border: 1px solid #DDD; }
  .custom_search-popup a {
    color: black !important; }
  .custom_search-popup label {
    position: relative !important; }
  .custom_search-popup .form-item {
    text-align: left; }

.search-form .form-item-custom-search-blocks-form-1 {
  display: inline; }
