/* =============================================================================
   Custom Search
   ========================================================================== */

.custom_search-popup {
	z-index: 99 !important;
	width: 198px;
	background-color: white;
	padding: 0px 10px;
	border: 1px solid #DDD;
	a {
		color: black !important;
	}
	label {
		position: relative !important;
	}
	.form-item {
		text-align: left;
	}
}

.search-form {
	.form-item-custom-search-blocks-form-1 {
		display: inline;
	}
}
