/* =============================================================================
   Search
   ========================================================================== */

.search-form {
	#edit-actions {
		display: inline;
	}
	.form-actions {
		display: inline;
	}
}

.search-result__info {
	margin-left: 2em;
}

//Search on top of the pages
.views-exposed-widgets {
	width: 100%;
	margin: 0;

	.views-widget-filter-title_field_value {
		width: 70%;
		input {
			width: 98%;
		}
	}
	.views-submit-button,
	.views-reset-button {
		width: auto;
		.form-submit {
			margin: 0;
		}
	}
}

input.form-submit {
	background-color: $color-main2;
	font-family: $base-font-family;
	font-weight: 400;
	font-size: .8em;
	padding: .5em 1em;
	border: none;
	color: white;
	letter-spacing: 1px;
	text-transform: uppercase;
	&:hover {
		background-color: darken($color-main2, 6%);
	}
}

//Font insider the search box
.form-text {
	font-family: $base-font-family;
}

//Sitewide search
.custom-search-blocks-form-1 div {
	margin-right: 0;

	//Input part
	.form-item-custom-search-blocks-form-1 {
		display: inline-block;

		input#gcwu-srch {
			min-width: 340px;
			padding: 4px 8px 8px 8px !important;
			-webkit-border-radius: 0 !important;
			-moz-border-radius: 0 !important;
			border-radius: 0 !important;
		}

	}

	//Button part
	.form-actions {
		width: 36px !important;
		height: 36px !important;
		display: inline-block;
		margin-left: -14px;
		background-color: darkolivegreen;

		input#gcwu-srch-submit {
			padding-top: -10px !important;
			@include hide-text();
			@include border-radius(0);
			border: none;
			width: 35px !important;
			height: 35px !important;
			background: $color-main2;
			background-image: url("../images/m-glass.png");

			&:hover {
				background: #a1d777;
				background-image: url("../images/m-glass.png");
				box-shadow: none;

			}
		}

	}
}

//remove margin left on all sitewide searches
.views-exposed-form-internal-news-page-1,
.views-exposed-form-people-finder-page-1,
.views-exposed-form-internal-news-page-1,
.views-exposed-form-calendar-page-1,
.views-exposed-form-search-page {
	margin-left: 0;
}




























