/* =============================================================================
   CALENDAR ENTRY
   ========================================================================== */

//Single news
.node-type-calendar-entry {
	$grids: 6;

	.field {
		margin-bottom: 1em;
	}

	//labels
	.field__label {
		font-family: $base-font-family;
		font-weight: 600;
		text-transform: uppercase;
	}

	//description
	.field--name-field-description {
		@include grid-span(4, 1);
		font-family: $base-font-family;

		p {
			margin-left: 0;
		}

	}

	.event-details {
		margin-top: 0;
		@include grid-span(2, 5);

		legend {

			.fieldset-legend {
				background-color: $color-menu-bar !important;
				padding: .5em 0 .4em 0;
				margin-top: 1px !important;
				width: 100%;
				border-top: 1px solid #ccc;
				display: block;
				font-family: $base-font-family;
				font-weight: 400;
				font-size: .8em;
				text-align: left !important;
			}
		}

		.field--name-field-location {
			margin-top: 1.2em;
		}

		.field--name-field-location,
		.field--name-field-contact,
		.field--name-field-entry-date {
			.field__item {
				font-family: $base-font-family;
				font-weight: 300;
			}

		}

	}

}