/* =============================================================================
   EXPOSED FILTERS AND OTHER
   ========================================================================== */

.views-exposed-form-document-library-page-1 {
	margin-left: 0;
}

.views-exposed-form-search-page {
	.views-exposed-form {
		background-color: #ffffff;
		padding: 0;
	}

	#edit-keyword-wrapper {
		width: 80%;
		//		margin-right: 10px;
		#edit-keyword {
			width: 100%;
		}
	}
}

#wb-sec {

	.block--facetapi {

		margin: 0.5em 0;
		border: 1px solid #d4d4d4;

		h3 {
			font-family: $base-font-family;
			background-color: $color-menu-current;
			color: #000000;
			padding: 1em;
			margin: 0;

		}

		ul.facetapi-processed {
			border: none;
			padding: 0.5em;
			margin-left: 10px;
			padding-left: 5px;

			li {
				font-family: $base-font-family;
				margin: 0.5em 0;
				background-color: transparent;
				color: #000000;
				font-weight: 400;
				font-size: .9em !important;

				input {
					margin-right: 5px;
				}

				a {
					display: inline !important;
					font-family: $base-font-family;
					background-color: transparent;
					color: #000000;
					padding-left: 0;
					font-weight: 400;
					font-size: .9em !important;
					cursor: default;

					&:hover {
						text-decoration: none !important;

					}
				}

				ul {
					border: none;
					margin-left: 10px;
					padding-left: 5px;
				}
			}
		}
	}

	.block--views {
		border: 1px solid #d4d4d4;

		h3 {
			font-family: $base-font-family;
			background-color: $color-main2;
			padding: .5em 1em;
			@include border-radius(0);
			color: #ffffff;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 0;

			a{
				background-color: transparent;
				color: white;
			}
		}

		form {
			margin: 0;
			padding: 0;

			.views-exposed-form
			.views-exposed-widget {
				padding: 0;
				width: 100%;
			}

			.views-exposed-widgets {
				label {
					font-family: $base-font-family;
					background-color: #e8f5de;
					color: #000000;
					padding: .5em;
					margin: 0;
				}
			}

			.views-exposed-widget {
				.views-widget {
					padding: 0 1em 0 0;

					label {
						font-family: $base-font-family;
						font-weight: 400;
						background-color: transparent !important;
						line-height: 150%;
						padding: 0;
						color: #000000;
						font-size: .8em;

					}
				}

				ul.bef-tree-child {
					border: none;
					li {
						margin: 0.5em 0;
					}
				}

				.date-year,
				.date-month,
				.date-day {
					height: auto;
					width: auto;
					background: none;
					border: none;
					box-shadow: none;
					border-radius: none;

					select {
						color: #000 !important;
						font-weight: 400;
						border: 1px solid #ccc;
						margin: 1em 5px;
						-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
						-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
						box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
						border-style: solid;
						border-width: 1px;
						min-height: 18px !important;
						padding: 4px;
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						-ms-border-radius: 4px;
						-o-border-radius: 4px;
						text-shadow: none;
					}
				}

				&.views-submit-button,
				&.views-reset-button {
					width: auto;
				}
			}

			//Date range From - To
			.container-inline-date {
				text-align: center;

				select {
					font-family: $base-font-family;
					font-weight: 500;
					font-size: .8em;
				}
			}

		}
	}

	.block--bean {

		h3 {
			font-family: $base-font-family;
			background-color: $color-main2;
			padding: .5em 1em;
			@include border-radius(0);
			color: #ffffff;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 0;

			a{
				background-color: transparent;
				color: #ffffff;
			}
		}

		p {
			margin-left: 0;
			margin-right: 0;
		}

	}

}

//Date picker for internal news
#edit-field-modified-date-value-wrapper {

	.views-widget {
		margin-bottom: 1em;
	}

	.form-type-date-popup {

		label {
			margin-top: .5em !important;
			color: black !important;
			font-weight: 500 !important;
			font-size: 1em !important;
		}

		input {
			text-align: center;
			font-weight: 400;
		}

		.description {
			font-weight: 400;
			margin-top: .2em;
			font-size: .7em;
			color: #747474;
		}
	}
}

//Submit button for the exposed filers
.views-submit-button {

	input.form-submit {
		margin-bottom: 1em !important;
		margin-left: 1em !important;
	}
}