/* =============================================================================
   SITE FOOTER
   ========================================================================== */

.more-footer {
	padding-top: .5em;
	background-color: $footer-bkg !important;
	min-height: 250px;
	$grid: 6;
	$gutters: 10px;
	$gutter-style: ("opposite");

	.address {
		@include grid-span(2, 1);

		p {
			color: #535858 !important;
			font-size: 1em !important;
		}
	}

	.people-finder {
		@include grid-span(1, 3);

		p {
			color: #535858;
		}
	}

	.social {
		@include grid-span(1, 4);

		.social-icons {
			margin-top: .8em;
			a {

				img {
					width: 29px;
					height: auto;
					margin-left: .2em;
					margin-right: .1em;
				}
			}
		}
	}

	.our-public-sites {
		@include grid-span(1, 5);
	}

	.gc-sites {
		@include grid-span(1, 6);
	}

	.our-public-sites,
	.gc-sites {

		.top-section {
			margin-top: 1px;

			a {
				color: #535858;
				text-decoration: none;
				cursor: default;
				font-size: .8em;
				font-weight: 500;
			}
		}

		ul {
			margin-left: .8em;
			margin-top: 0;
			list-style: none;

			li {

				a {
					color: #535858;
					font-size: .9em !important;
					font-weight: normal;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

	}

	clear: both;
}