/* =============================================================================
   GENERAL
   ========================================================================== */

//People or site tabs
.people-or-site {
	text-align: center;
	margin-bottom: 4px;

	.p-o-s {
		width: 100%;
		min-height: 40px;

		a {
			display: inline-block;
			width: 49%;
			text-align: center;
			padding: .8em 1em;
			background-color: $color-menu-bar;
			line-height: 100%;
			color: #505050;
			text-decoration: none;

			&:hover {
				background-color: $color-menu-hover;
			}
		}

	}

}

//Dots all over

body {
	background-image: url("../images/body-bg.png") !important;
	background-repeat: repeat !important;
}

#wb-body {
	background: transparent !important;
}

[id|=wb-body] {
	background: transparent !important;
}

#page {
	width: 1200px;
	box-sizing: content-box;
	padding: 0 10px;
	margin: 0 auto;
	background: none transparent;
	background-color: #ffffff !important;
	box-shadow: -10px -10px 30px -20px, 10px -10px 30px -20px;
}

//Remove left and right borders
#wb-core-in,
#gcwu-bc-in {
	background: none !important;
}

//Global margins for content
#content {
	margin-left: 1em !important;
	margin-right: 1em !important;
}

//Page headers margins
#main-content-header {
	margin-left: 1em !important;
	margin-right: 1em !important;
}

//Wordmark, lang and fip
#gcwu-intranetnb {
	min-width: 1200px;
	background-color: #3b3b3b; // layer fill content
	@include background-image(linear-gradient(bottom, #3b3b3b 5.2%, #3c3c3c 5.44%, #555 100%)); // gradient overlay

	#gcwu-sig {
		min-width: 350px !important;

		#gcwu-sig-in {
			width: 350px !important;
			height: 25px !important;

			padding-top: .2em;
			padding-left: .5em;

			img {
				width: 330px !important;
				height: 23px !important;
				margin: 0 !important;
			}
		}
	}

	#gcwu-intranetnb-in {
		background-image: none !important;
		background-color: none !important;

		ul {
			background-image: none !important;
		}

		#gcwu-gcnb-lang {
			background: none !important;

			a {
				font-family: $base-font-family;
				font-weight: 300;
				text-transform: uppercase;
			}
		}
	}
}

//Add more space above fip
#gcwu-wmms {
	padding-top: .5em;
	height: 50px;

	#gcwu-wmms-in {
		margin-right: 1em;
		margin-top: 1em;
		padding-top: .5em !important;
	}
}

#gcwu-intranetnb {
	background-color: #0000000;
	z-index: 100;
}

#gcwu-gcnb-fip {
	min-height: 30px !important;
	position: absolute;
	top: 5px;
	right: -7px;
	border: none !important;
}

//Banner with name and logo bkg
#gcwu-bnr {
	background: none;
	border-top: none;

	#gcwu-bnr-in {
		background-image: none;
		background-color: white;
		height: 107px;

		#gcwu-title {
			height: 107px !important;
			width: 600px;
			padding-top: 0;

			a {
				padding: 0 !important;
				margin: 0 !important;
				position: relative;
				left: -29px;
				top: -5px;

				img {
					margin-bottom: 0 !important;
					padding-bottom: 0 !important;

				}
			}

			#gcwu-title-in {
				margin-left: 5.5em;
				margin-top: .2em;

				a {
					display: none;
					font-size: 2em;
					font-family: $base-font-family;

				}

			}

		}

		section {
			#gcwu-srchbx {
				top: 30px;
				margin-top: 0;
			}

		}
	}

}

//remove border form the bottom of the header
#gcwu-gcnb {
	background: none;
	border-bottom: none;
	background-color: none !important;
	min-height: 45px !important;
}

// Document lists
.view-document-library,
.view-search,
.view-people-finder,
.view-internal-news {

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			padding-top: .5em;
			padding-bottom: 1em;
			border-top: 1px solid #d4d4d4;
			display: block;
			font-family: $base-font-family;

			.views-field {
				padding-bottom: .2em;
			}

			.views-label {
				color: $gray;
				vertical-align: top;
				display: inline-block;
				width: 15%;

			}

			.field-content {
				display: inline-block;
				vertical-align: top;
				width: 80%;

				a {
					color: #295376;
					font-weight: 700;

					&:visited {
						color: #295376 !important;
					}
				}
			}

			.views-field-picture {
				display: inline-block;
				img {
					width: 225px;
				}
			}

		}
	}
}

//Date modified
#gcwu-date-mod {
	font-family: $base-font-family;
	font-size: .8em;
	font-weight: 400;
	text-shadow: none !important;
}

//Submit your news
#block-bean-submit-your-news {
	section {
		a {

			min-height: 50px;
			font-family: $base-font-family;
			font-weight: 300;
			display: block;
			width: 100%;
			@include border-radius(0);
			background: #424242;
			color: #ffffff !important;
			text-shadow: none;
			line-height: 300%;
			cursor: pointer;
			@extend %news-submit-icon;
			background-position: 15% center;

			&:hover {
				background-color: #000000 !important;
				@extend %news-submit-icon;
				background-position: 15% center;

			}

			.wb-icon-paper-share {
				background: none;
				display: none;
			}
		}
	}
}









