/* =============================================================================
   INTERNAL NEWS

   ========================================================================== */

//Singele news
.node-type-media-file {
	$grids: 6;

	//lables
	.field__label {
		font-family: $base-font-family;
		font-weight: 600;
		text-transform: uppercase;
	}

	//description
	.field--name-field-description {
		font-family: $base-font-family;

		p {
			margin-left: 0;
		}

	}

	.field {
		margin-bottom: 1em;
	}

	//Modification date
	.field--name-field-modified-date {
		font-family: $base-font-family;
		font-weight: 300;
	}

	.field--name-field-attachment {
		font-family: $base-font-family;
		font-weight: 300;

		.file-icon {
			display: none;
		}

		a {
			font-family: $base-font-family;
			font-weight: 300;
		}
	}

	.field--name-field-ownership {
		font-family: $base-font-family;
		font-weight: 300;

		a {
			font-family: $base-font-family;
			font-weight: 300;
		}
	}

	.field--name-field-document-type {
		font-family: $base-font-family;
		font-weight: 300;
		a {
			font-family: $base-font-family;
			font-weight: 300;
		}

	}

	.field--name-field-show-in-news {
		font-family: $base-font-family;
		font-weight: 300;
	}

	.with-user-picture {

		.user-picture {
			text-align: center;

			img {
				@include border-radius(50%);
			}
		}

		.author-datetime {
			text-align: center;
			font-family: $base-font-family;
			font-weight: 300;
			font-size: .8em;
		}

	}

	.main-info {
		@include grid-span(4, 1);

	}

	.extra-info {
		@include grid-span(2, 5);
	}

}

.pager-container {
	margin: 0 auto;
	text-align: center;
	padding-top: 1em;

	.pager {
		display: inline-block;

		li {

			a {
				font-family: $base-font-family;
				@include border-radius(0);
			}

			&.pager-first a {

				background-image: none;
			}

			&.pager-previous a {

				background-image: none;
			}

			&.pager-item a {

				background-image: none;
			}

			&.pager-current span {

			}

			&.pager-next a {

				background-image: none;

			}
			&.pager-last a {

				background-image: none;

			}
		}
	}

}