/* =============================================================================
   PEOPLE FINDER
   ========================================================================== */

.section-people-finder,
.section-people-finder-2 {

	.view-people-finder {
		$grids: 6;

		ul {

			li {
				padding-bottom: 1em;
				margin-bottom: 1em;

				.views-field-field-profile-picture {
					@include grid-span(2, 1);

					img {
						@include border-radius(50%);
					}
				}

				.views-field-field-email {
					a {
						background: none;
						padding-left: 0 !important;
					}
				}

				.views-fieldset {
					@include grid-span(4, 3);
					width: 80%;
				}
				clear: both;
			}
		}

	}
}

//single profile page
.node-type-people {
	$grids: 6;
	$gutters:1/3;


	.info-part-1 {
		min-height: 280px;
		@include grid-span(2, 1);

		.field--name-field-profile-picture {
			text-align: center;
			img {
				@include border-radius(50%);
			}
		}

		.field--name-field-status {
			font-family: $base-font-family;
			font-weight: 300;
			font-style: italic;
			text-align: center;
		}

		.field--name-field-job-title {
			font-family: $base-font-family;
			font-weight: 700;
			margin-left: .5em;
			text-transform: uppercase;
			text-align: center;
		}

	}

	.info-part-2 {
		min-height: 280px;
		@include grid-span(4, 3);

		.field--name-body {
			font-family: $base-font-family;
		}

		.field--name-field-linkedin-profile {
			margin-left: .5em;
			background-color: $linkedin;
			max-width: 210px;
			@include border-radius(6px);
			padding: .5em .5em .5em .5em;
			background-image: url("../images/linedin-icon.png") !important;
			background-repeat: no-repeat;
			background-position: 5% 42%;

			a {
				margin-left: 2em;
				font-family: $base-font-family;
				font-weight: 500;
				color: white !important;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}

	}

	.group-contact {
		clear: both;
		@include grid-span(3, 1);
		padding-top: 0 !important;
		margin-top: 2em;
		border: none !important;

		legend {
			margin-top: 0 !important;
			width: 100% !important;
			height: 40px !important;
			display: block !important;
			background-color: $color-menu-bar !important;
			border-top: 1px solid #ccc;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;

			.fieldset-legend {
				font-family: $base-font-family;
				font-weight: 400;
				font-size: .8em;
				text-align: center !important;
			}
		}

		.fieldset-wrapper {
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			min-height: 240px;

			.field--name-field-email {
				line-height: 120% !important;
				margin-bottom: .5em;

				a {
					font-family: $base-font-family;
					color: #295376 !important;
					padding-left: 1.5em;
					vertical-align: middle !important;
					@extend %mail-icon;
				}

			}

			.field--name-field-phone-number {
				font-family: $base-font-family;
				padding-left: 1.5em;
				line-height: 120%;
				margin-bottom: .5em;
				@extend %phone-icon;

			}

			.field--name-field-extension {
				font-family: $base-font-family;
				padding-left: 1.5em;
				line-height: 120%;
				margin-bottom: .5em;
				@extend %phone-ext-icon;
			}

			.field--name-field-office {
				font-family: $base-font-family;
				padding-left: 1.5em;
				line-height: 120%;
				margin-bottom: .5em;
				@extend %office-icon;
			}

			.field--name-field-address {
				font-family: $base-font-family;

				padding-left: 1.5em;
				line-height: 120%;
				margin-bottom: .5em;
				@extend %location-icon;

				p {
					margin-top: 0;
					margin-left: 0;
				}

			}

			.field--name-field-language {
				font-family: $base-font-family;
				padding-left: 1.5em;
				line-height: 120%;
				margin-bottom: .5em;
				@extend %languages-icon;
			}
		}
	}

	.group-organization {
		@include grid-span(3, 4);
		padding-top: 0 !important;
		margin-top: 2em;
		border: none !important;

		legend {
			margin-top: 0 !important;
			width: 100% !important;
			height: 40px !important;
			display: block !important;
			background-color: $color-menu-bar !important;
			border-top: 1px solid #ccc;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;

			.fieldset-legend {
				font-family: $base-font-family;
				font-weight: 400;
				font-size: .8em;
				text-align: center !important;
			}
		}

		.fieldset-wrapper {
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			min-height: 240px;

			.field--name-field-organizational-chart {
				margin-bottom: .5em;
				a {
					font-family: $base-font-family;
					color: #295376 !important;
					padding-left: 1.5em;
					vertical-align: middle !important;
					@extend %organization-icon;
					line-height: 120% !important;
				}

			}

			#node_people_full_group_memberships {

				h3 {
					font-family: $base-font-family;
					font-weight: 400;
					font-size: 1em;
					color: #000000;
					margin-left: 0;
					line-height: 120%;
					text-transform: uppercase;
				}
			}

			.field--name-field-committee-memberships {
				margin-bottom: .5em;

				a {
					font-family: $base-font-family;
					color: #295376 !important;
					padding-left: 1.5em;
					vertical-align: middle !important;
					@extend %membership-icon;
					line-height: 120% !important;
				}
			}

			.field--name-field-find-on-org-chart {
				padding-top: 1em;

				.field__label {
					font-family: $base-font-family;
					font-weight: 400;
					font-size: 1em;
					line-height: 120%;
					text-transform: uppercase;
				}

				.file {

					.file-icon {
						display: none;
					}

					a {
						padding-left: 2em;
						font-family: $base-font-family;
						@extend %pdf-icon;
					}
				}
			}

		}

	}

}










