// Susy grid.
//$container-style: magic;
//$container-width: 1000px;
//$total-columns: 12;
//$column-width: 80px;
//$gutter-width: 20px;
//$grid-padding: $gutter-width;
//$debug-grid: true;

//$grids: 12;
//$gutters: 1/3;
//$gutter-styles: 'split';


