%location-icon {
	background-image: url("../images/location-icon.png") !important;
	background-repeat: no-repeat;
}

%languages-icon {
	background-image: url("../images/languages-icon.png") !important;
	background-repeat: no-repeat;
}

%office-icon {
	background-image: url("../images/office-icon.png") !important;
	background-repeat: no-repeat;
}

%phone-ext-icon {
	background-image: url("../images/phone-ext-icon.png") !important;
	background-repeat: no-repeat;
}

%phone-icon {
	background-image: url("../images/phone-icon.png") !important;
	background-repeat: no-repeat;
}

%mail-icon {
	background-image: url("../images/mail-icon.png") !important;
	background-repeat: no-repeat;
}

%organization-icon {
	background-image: url("../images/organization-icon.png") !important;
	background-repeat: no-repeat;
}

%membership-icon {
	background-image: url("../images/membership-icon.png") !important;
	background-repeat: no-repeat;
}

%pdf-icon {
	background-image: url("../images/pdf-icon.png") !important;
	background-repeat: no-repeat;
}

%xls-icon {
	background-image: url("../images/xls-icon.png") !important;
	background-repeat: no-repeat;
}

%doc-icon {
	background-image: url("../images/doc-icon.png") !important;
	background-repeat: no-repeat;
}

%html-icon {
	background-image: url("../images/html-icon.png") !important;
	background-repeat: no-repeat;
}

%news-submit-icon {
	background-image: url("../images/news-submit-icon.png") !important;
	background-repeat: no-repeat !important;
}

//Icons only in main content on the page
#main-content {

	[href$='.psd'],
	[href$='.zip'],
	[href$='.egret'],
	[href$='.doc'],
	[href$='.pdf'],
	[href$='.xls'],
	[href$='.rtf'],
	[href$='.pot'],
	[href$='.ppt'],
	[href$='.pps'],
	[href$='.pptm'],
	[href$='.docx'],
	[href$='.xlsx'],
	[href$='.pptx'],
	[href$='.pub'] {

	}

	[href$='.pdf'] {
		padding-left: 1.8em;
		@extend %pdf-icon;
	}

	[href$='.xls'],
	[href$='.xlsx'] {
		padding-left: 1.8em;
		@extend %xls-icon;
	}

	[href$='.doc'],
	[href$='.docx'] {
		padding-left: 1.8em;
		@extend %doc-icon;
	}

	[href$='.html'] {
		padding-left: 1.8em;
		@extend %html-icon;
	}

}
















