#main-content [href$='.pdf'] {
  background-image: url("../images/pdf-icon.png") !important;
  background-repeat: no-repeat; }

#main-content [href$='.xls'],
#main-content [href$='.xlsx'] {
  background-image: url("../images/xls-icon.png") !important;
  background-repeat: no-repeat; }

#main-content [href$='.doc'],
#main-content [href$='.docx'] {
  background-image: url("../images/doc-icon.png") !important;
  background-repeat: no-repeat; }

#main-content [href$='.html'] {
  background-image: url("../images/html-icon.png") !important;
  background-repeat: no-repeat; }

#main-content [href$='.pdf'] {
  padding-left: 1.8em; }
#main-content [href$='.xls'],
#main-content [href$='.xlsx'] {
  padding-left: 1.8em; }
#main-content [href$='.doc'],
#main-content [href$='.docx'] {
  padding-left: 1.8em; }
#main-content [href$='.html'] {
  padding-left: 1.8em; }
