/* =============================================================================
   Field
   ========================================================================== */

.field-label-inline {
	.field-label {
		margin: 0;
	}
}

.field-name-field-featured-image-form {
	.image-preview {
		float: none;
	}
}
