/* =============================================================================
   Block
   ========================================================================== */

.block-content {
	#tasks {
		.tabs {

			li {
				text-align: right;
				a {
					top: 0px;
					margin-top: 0px;
				}
			}
		}
	}
}

#tasks {
	.tabs {
		text-align: right;
		border: none;
		li {
			border: none;

			a {
				border: 1px solid #000000;
				padding: .2em .4em;
				font-weight: 300;
				font-size: .9em;
				text-transform: uppercase;
				top: 0px;
				margin-top: 0px;
				background: #353535;
				color: #ffffff !important;

				&:hover {
					//					color: lighter (#353535, 15%);
				}

				//active tab
				&.active {
					background-color: white !important;
					font-weight: 400;
					color: #000000 !important;
				}
			}
		}
	}
}

.block--views {
	margin-bottom: 1em;
}