/* =============================================================================
   Devel
   ========================================================================== */

.krumo-root {
	img {
		width: auto;
	}
}
