/* =============================================================================
   System
   ========================================================================== */

a {
	color: #017773;

	&:visited {
		color: #666633;
	}
}

figure {
	display: block;
	margin: 0px;
	padding: 0px;
}

ul {
	&.tabs {
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}

.container {
	max-width: none !important;
}

.form-item {
	label.option {
		display: inline;
	}
}

.maintenance-page {
	#main-content {
		#content {
			padding: 10px;
		}
	}
}

#breadcrumb,
.breadcrumb-wrapper {
	margin-left: 0px;
	margin-right: 0px;
}

//Breadcrumbs styles
#gcwu-bc-in {
	color: $color-breadcrumbs-regular;
	font-family: $base-font-family;
	font-size: em(13);

	a {
		font-size: em(13);
		font-family: $base-font-family;
		color: $color-breadcrumbs-linked;
	}
}

#main-content {
	display: block !important;
	#tasks {
		ul.tabs {
			margin-bottom: 20px;
		}
	}
}

#status-messages {
	margin-top: 10px;
	font-family: $base-font-family;

	//constrain width to the right content
	section {
		div {
			max-width: 97.5%;
		}

		ul {
			font-family: $base-font-family !important;
			list-style: none;
			margin-left: .6em;
			li {
				font-family: $base-font-family !important;
			}
		}
	}

}

.progress {
	font-weight: normal;
}
