/* =============================================================================
   Workbench
   ========================================================================== */

#block-workbench-block {
	.workbench-info-block {
		margin: 0px 10px 10px 10px;
		background-color: #FFFFCE !important;
		color: #000;
		font-weight: 600;
	}
}
