/* =============================================================================
   CTools
   ========================================================================== */
div.ctools-button,
div.ctools-dropbutton,
div.ctools-dropbutton-processed {
  background-color: #F3F3F3;
  background-image: -moz-linear-gradient(center bottom, #e6e6e6 0%, #fefefe 100%);
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  color: black;
  padding: 0px 10px 0px 4px; }

td div.ctools-dropbutton {
  position: relative !important;
  right: 0px !important; }

div.ctools-button {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  line-height: 1; }

div.ctools-button:hover {
  cursor: pointer; }

div.ctools-dropbutton .ctools-content {
  margin-right: 10px; }

div.ctools-button .ctools-content {
  padding-bottom: 2px;
  padding-top: 2px; }

div.ctools-button .ctools-content ul {
  list-style-image: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

div.ctools-button .ctools-content ul li {
  line-height: 1.3333; }

div.ctools-button .ctools-link {
  margin-left: 3px;
  padding-left: 3px;
  border-left: 2px solid #CCC; }

div.ctools-dropbutton .ctools-link {
  margin-left: 3px;
  padding-left: 3px;
  border-left: 0; }

div.ctools-button ul {
  padding-left: 4px; }

div.ctools-dropbutton ul {
  padding-left: 4px; }

div.ctools-button a,
div.ctools-dropbutton a {
  color: black;
  padding: 0px;
  background-image: none;
  background-color: transparent;
  border: 0 none; }

div.ctools-button .ctools-link a,
div.ctools-dropbutton .ctools-link a {
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-style: solid;
  border-width: 4px 4px 0;
  font-weight: normal;
  margin-left: 5px; }
