/* =============================================================================
   Open Layers
   ========================================================================== */

// Override max-width 100% for map displays
.gmap, .view-gmap, .openlayers-map, #getlocations_map_canvas {
	img {
		max-width: none;
	}
}
