/* =============================================================================
   WetKit
   ========================================================================== */

#ogpl-title,
#wet-title {
	span {
		&.no-logo {
			padding-left: 10px;
		}
	}
}

.wb-sec-def {
	section {
		li {
			list-style: none;
		}
	}
}

.gcwu-minister {
	margin-top: 10px;
	img {
		padding-right: 5px;
		float: left;
		margin: 0;
	}
	p {
		background-color: #FFF;
		margin: 0;
		padding: 10px 5px 10px 0;
		strong {
			font-weight: 700;
			color: #001D45;
		}
	}
	ul {
		list-style-type: none;
		padding-top: 17px;
		margin: 0;
	}
	ul:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	li {
		padding-bottom: 8px;
	}
	li a:hover, li a:focus, li a:active {
		text-decoration: none;
	}
	.gcwu-minister-in {
		background-color: #EEE;
		min-height: 149px;
	}
}

#gcwu-bnr {
	z-index: 99 !important;
	#gcwu-bnr-in {
		#gcwu-title {
			margin-top: 0px;
			padding-top: 7px;
			margin-bottom: 0px;
		}
	}
}

#gcwu-connect {
	a {
		background: none;
		padding-right: 0;
		text-decoration: none;
	}
	h2 {
		border: none;
		margin-bottom: 5px;
		color: #333;
		float: left;
		margin-top: 2px;
		margin-right: 10px;
	}
	li {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
	}
	ul {
		list-style-type: none;
	}
}

#gcwu-headlines {
	ul {
		list-style: none !important;
		margin: 0 !important;
		li {
			list-style: none !important;
			margin: 0 !important;
		}
	}
}

#gcwu-psnb {
	.wet-boew-megamenu {
		z-index: 98 !important;
	}
	.mb-menu {
		z-index: 98 !important;
	}
}

#gcwu-srchbx {
	margin-top: 1.2em;
	margin-right: .2em;

	label {
		height: auto !important;
		width: auto !important;
		overflow: visible !important;
	}
	#gcwu-srchbx-in {
		display: inline;
	}
}

#wb-aside {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		margin: 0;
		padding: 0;
	}
	img {
		margin-left: 0;
		margin-right: 0;
	}
	.gcwu-minister-img img {
		width: auto !important;
		height: auto;
	}
	#gcwu-priorities h2 {
		color: #333;
		font-weight: 400;
		border: 0;
		margin-bottom: 5px;
		font-size: 1.6em;
	}
}

#wb-head, #wb-head-in, #gcwu-bnr, #gcwu-bnr-in {
	overflow: visible !important;
}

#wb-main-in {
	fieldset {
		border: 1px solid #ccc;
		padding: 2em 0 0 0; /* LTR */
		position: relative;
		margin: 1em 0;
		&.collapsed {
			background-color: transparent;
			border-width: 1px !important;
		}
		.fieldset-legend {
			margin-top: 0.5em;
			padding-left: 15px; /* LTR */
			position: absolute;
			text-transform: uppercase;
		}
		.fieldset-wrapper {
			padding: 10px 13px 13px 15px; /* LTR */
		}
		legend {
			height: 0px
		}
		fieldset {
			background-color: #fff;
			fieldset {
				background-color: #f8f8f8;
			}
		}
	}
	.horizontal-tabs {
		.horizontal-tab-hidden {
			display: block;
			position: absolute;
		}
	}
	#gcwu-connect {
		margin-left: 0px;
		h2 {
			font-weight: 400;
			font-size: 1.6em;
			margin-top: 6px;
		}
	}
}

.node-wetkit_documentation-form {
	.pane-node-form-publishing {
		.pane-title {
			margin-top: 0px;
		}
	}
}
