/* =============================================================================
   WetKit
   ========================================================================== */
#ogpl-title span.no-logo,
#wet-title span.no-logo {
    padding-left: 10px;
}

.wb-sec-def section li {
    list-style: none;
}

.gcwu-minister {
    margin-top: 10px;
}

.gcwu-minister img {
    padding-right: 5px;
    float: left;
    margin: 0;
}

.gcwu-minister p {
    background-color: #FFF;
    margin: 0;
    padding: 10px 5px 10px 0;
}

.gcwu-minister p strong {
    font-weight: 700;
    color: #001D45;
}

.gcwu-minister ul {
    list-style-type: none;
    padding-top: 17px;
    margin: 0;
}

.gcwu-minister ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.gcwu-minister li {
    padding-bottom: 8px;
}

.gcwu-minister li a:hover, .gcwu-minister li a:focus, .gcwu-minister li a:active {
    text-decoration: none;
}

.gcwu-minister .gcwu-minister-in {
    background-color: #EEE;
    min-height: 149px;
}

#gcwu-bnr {
    z-index: 99 !important;
}

#gcwu-bnr #gcwu-bnr-in #gcwu-title {
    margin-top: 0px;
    padding-top: 7px;
    margin-bottom: 0px;
}

#gcwu-connect a {
    background: none;
    padding-right: 0;
    text-decoration: none;
}

#gcwu-connect h2 {
    border: none;
    margin-bottom: 5px;
    color: #333;
    float: left;
    margin-top: 2px;
    margin-right: 10px;
}

#gcwu-connect li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
}

#gcwu-connect ul {
    list-style-type: none;
}

#gcwu-headlines ul {
    list-style: none !important;
    margin: 0 !important;
}

#gcwu-headlines ul li {
    list-style: none !important;
    margin: 0 !important;
}

#gcwu-psnb .wet-boew-megamenu {
    z-index: 98 !important;
}

#gcwu-psnb .mb-menu {
    z-index: 98 !important;
}

#gcwu-srchbx {
    margin-top: 1.2em;
    margin-right: .2em;
}

#gcwu-srchbx label {
    height: auto !important;
    width: auto !important;
    overflow: visible !important;
}

#gcwu-srchbx #gcwu-srchbx-in {
    display: inline;
}

#wb-aside {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

#wb-aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#wb-aside ul li {
    margin: 0;
    padding: 0;
}

#wb-aside img {
    margin-left: 0;
    margin-right: 0;
}

#wb-aside .gcwu-minister-img img {
    width: auto !important;
    height: auto;
}

#wb-aside #gcwu-priorities h2 {
    color: #333;
    font-weight: 400;
    border: 0;
    margin-bottom: 5px;
    font-size: 1.6em;
}

#wb-head, #wb-head-in, #gcwu-bnr, #gcwu-bnr-in {
    overflow: visible !important;
}

#wb-main-in fieldset {
    border: 1px solid #ccc;
    padding: 2em 0 0 0;
    /* LTR */
    position: relative;
    margin: 1em 0;
}

#wb-main-in fieldset.collapsed {
    background-color: transparent;
    border-width: 1px !important;
}

#wb-main-in fieldset .fieldset-legend {
    margin-top: 0.5em;
    padding-left: 15px;
    /* LTR */
    position: absolute;
    text-transform: uppercase;
}

#wb-main-in fieldset .fieldset-wrapper {
    padding: 10px 13px 13px 15px;
    /* LTR */
}

#wb-main-in fieldset legend {
    height: 0px;
}

#wb-main-in fieldset fieldset {
    background-color: #fff;
}

#wb-main-in fieldset fieldset fieldset {
    background-color: #f8f8f8;
}

#wb-main-in .horizontal-tabs .horizontal-tab-hidden {
    display: block;
    position: absolute;
}

#wb-main-in #gcwu-connect {
    margin-left: 0px;
}

#wb-main-in #gcwu-connect h2 {
    font-weight: 400;
    font-size: 1.6em;
    margin-top: 6px;
}

.node-wetkit_documentation-form .pane-node-form-publishing .pane-title {
    margin-top: 0px;
}
