/* =============================================================================
   jQuery Update
   ========================================================================== */
.ui-widget-overlay {
  background: none;
  opacity: 0 !important; }
