.panels-flexible-cihr_home_v3 .panels-flexible-region {
  padding: 0;
}

.panels-flexible-cihr_home_v3 .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-cihr_home_v3 .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-cihr_home_v3 .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-cihr_home_v3 .panels-flexible-column {
  padding: 0;
}

.panels-flexible-cihr_home_v3 .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-cihr_home_v3 .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-cihr_home_v3 .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-cihr_home_v3 .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-cihr_home_v3 .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-cihr_home_v3-main {
  float: left;
  width: 49.5000%;
}

.panels-flexible-column-cihr_home_v3-1 {
  float: left;
  width: 24.7500%;
}

.panels-flexible-column-cihr_home_v3-2 {
  float: left;
  width: 24.7500%;
}

.panels-flexible-cihr_home_v3-inside {
  padding-right: 0px;
}

.panels-flexible-cihr_home_v3 {
  width: auto;
}

.panels-flexible-region-cihr_home_v3-feature {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cihr_home_v3-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-cihr_home_v3-center {
  float: left;
  width: 61.1325%;
}

.panels-flexible-region-cihr_home_v3-external_news {
  float: left;
  width: 37.8675%;
}

.panels-flexible-row-cihr_home_v3-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-region-cihr_home_v3-president {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cihr_home_v3-4-inside {
  padding-right: 0px;
}

.panels-flexible-region-cihr_home_v3-events {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cihr_home_v3-5-inside {
  padding-right: 0px;
}

.panels-flexible-region-cihr_home_v3-service_requests {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cihr_home_v3-6-inside {
  padding-right: 0px;
}

.panels-flexible-region-cihr_home_v3-poll {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-cihr_home_v3-7-inside {
  padding-right: 0px;
}

