/* =============================================================================
   Navbar
   ========================================================================== */

.navbar-horizontal,
.navbar-vertical,
.navbar-tray-open {
	.tab {
		a {
			.ui-link:visited {
				color: #FFFFFF;
			}
		}
	}
}

.navbar-tray-open {
	#wb-body {
		position: relative;
	}
}

//menu container

//nav
#gcwu-psnb {

	[href$='.psd'],
	[href$='.zip'],
	[href$='.egret'],
	[href$='.doc'],
	[href$='.pdf'],
	[href$='.xls'],
	[href$='.rtf'],
	[href$='.pot'],
	[href$='.ppt'],
	[href$='.pps'],
	[href$='.pptm'],
	[href$='.docx'],
	[href$='.xlsx'],
	[href$='.pptx'],
	[href$='.pub'] {
		background-image: none !important;
	}

	#gcwu-psnb-in {
		padding-top: 1em;
		background-color: #ffffff;

		//menu
		.wet-boew-menubar {
			margin-top: 0;

			ul.mb-menu {
				background: none;
				background-color: $color-menu-bar;
				max-width: 1198px;

				.nav-current {
					background: $color-menu-current;

					&:hover {
						background: $color-menu-hover;
					}

				}

				li {
					border-left: none;
					border-right: 1px solid #CCCCCC;

					a {
						font-family: $base-font-family;
						color: #505050;

						&:active {

						}

						&:hover {
							background: $color-menu-hover;
						}

					}
				}

				.mb-sm-open {
					background: $color-menu-current;
				}

			}
		}
	}

}


//Background for MAIN link in a dropdown correction
.mb-main-link a{
	background-color: $color-menu-bar;
	margin-left: -12px !important;
}