/* =============================================================================
   Linkit
   ========================================================================== */
.ui-dialog.linkit-wrapper {
  z-index: 501;
  background-color: white !important; }
  .ui-dialog.linkit-wrapper .ui-dialog-titlebar {
    border: none; }
  .ui-dialog.linkit-wrapper .ui-dialog-titlebar-close {
    display: none; }
  .ui-dialog.linkit-wrapper #edit-linkit-insert {
    display: inline;
    margin-right: 10px; }
  .ui-dialog.linkit-wrapper .better-autocomplete > .result.highlight {
    background-color: #ffffce; }

#linkit-modal fieldset.form-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.linkit-attributes legend:after {
  border: none; }
.linkit-attributes .fieldset-wrapper {
  margin-left: 20px; }
